<div class="w-[600px]">
  <div class="border border-white border-b-gray-300 p-3 px-6 flex justify-between">
    <h3 class="text-md font-medium">Create Enquiry</h3>
    <button class="bg-gray-200 rounded-lg p-1 text-center flex items-center justify-center" (click)="onClose()">
      <ng-icon name="heroXMark" class="text-md p-0 m-0"></ng-icon>
    </button>
  </div>

  <div class="flex flex-col p-6 mx-auto text-gray-900 bg-white rounded-lg shadow">
    <form class="" [formGroup]="enquiryForm">
      <div class="w-full flex mb-2">
        <div class="w-1/2 m-2">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="customers">
            Client
          </label>
          <ng-select [class.border-red-500]="f.client.invalid&&submit" id="client" class="form capitalize border"
            placeholder="Customer" appendTo="body" (change)="onChange($event)" formControlName="client">
            <ng-option *ngFor="let customer of customers$ | async" [value]="customer._id"
              class="capitalize">{{customer.companyName}}</ng-option>
            <ng-template ng-footer-tmp>
              <a (click)="createCustomer()"
                class="text-violet-700 cursor-pointer flex justify-center items-center h-full w-full"
                routerLink="/customers/create">
                + Create Customer
              </a>
            </ng-template>
          </ng-select>
        </div>
        <div class="w-1/2 m-2">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="contact">
            Point of Contact
          </label>
          <ng-select [class.border-red-500]="f.contact.invalid&&submit" id="contact" class="form capitalize border"
            placeholder="Contact" appendTo="body" notFoundText="Select Client" formControlName="contact">
            <ng-option *ngFor="let contact of contacts" [value]="contact._id" class="capitalize">{{contact.firstName}}
              {{contact.lastName}}</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="w-full flex mb-2">
        <div class="w-1/2 m-2">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="department">
            Department
          </label>
          <ng-select [class.border-red-500]="f.department.invalid&&submit" id="department" class="form border"
            placeholder="Department" appendTo="body" formControlName="department" (change)="getDepartment($event)">
            <ng-option *ngFor="let department of departments$ | async"
              [value]="department._id">{{department.departmentName}}</ng-option>
          </ng-select>
        </div>
        <div class="w-1/2 m-2">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="sales-person-name">
            Sales Person Name
          </label>
          <input appNoLeadingSpace [class.border-red-500]="f.salesPerson.invalid&&submit"
            class="appearance-none  block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:ring-1 focus:ring-inset focus:ring-violet-300 focus:outline-none focus:bg-white"
            id="sales-person-name" type="text" placeholder="John Doe" formControlName="salesPerson" readonly>
        </div>
      </div>
      <div class="flex flex-wrap mb-2">
        <div class="w-full m-2">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold" for="grid-password">
            Enquiery title
          </label>
          <input appNoLeadingSpace [class.border-red-500]="f.title.invalid&&submit"
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:ring-1 focus:ring-inset focus:ring-violet-300 focus:outline-none focus:bg-white"
            id="grid-password" placeholder="Title" type="text" formControlName="title">
        </div>
      </div>
      <div class="flex">
        <div class="w-full md:w-1/2 m-2">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
            Date
          </label>
          <input [class.border-red-500]="f.date.invalid&&submit" formControlName="date" type="date" id="grid-password"
            placeholder="Title"
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:ring-1 focus:ring-inset focus:ring-violet-300 focus:outline-none focus:bg-white">
        </div>

        <div class="w-full md:w-1/2 m-2">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold " for="grid-zip">
            Attachment
          </label>
          <div [class.border-red-500]="f.attachments.invalid&&submit"
            class="flex border items-center justify-start px-3 mt-2 bg-gray-200 py-2 cursor-pointer"
            (click)="fileInput.click()">
            <div class="font-medium flex items-center text-sm py-1">
              <ng-icon name="heroPaperClip" class="text-xl text-gray-600 mr-2">
              </ng-icon>
              Select Files
            </div>
            <input appFileValidator appFileSizeValidator type="file" multiple hidden #fileInput
              (change)="onFileSelected($event)">
          </div>

          <div *ngIf="selectedFiles" class="overflow-hidden">
            <div class="px-2 pt-1 mt-2" *ngFor="let file of selectedFiles; let i=index" @fileTrigger>
              <div class="flex justify-between items-center">
                <div class="flex">
                  <ng-icon name="heroDocumentArrowUp"></ng-icon>
                  <p class="text-sm px-2 w-40 truncate ..." matTooltip="{{file.name}}" matTooltipPosition="above"
                    matTooltipClass="mat-tooltip">{{file.name}}</p>
                </div>
                <div>
                  <ng-icon name="heroXMark" class="text-orange-500 cursor-pointer" (click)="onFileRemoved(i)"></ng-icon>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold " for="grid-zip">
          Attachment
        </label>
        <div class="flex items-center justify-start px-3 mt-2 bg-gray-200 py-2 cursor-pointer"
          (click)="f_input.click()">
          <div class="font-medium flex items-center text-sm py-1">
            <ng-icon name="heroPaperClip" class="text-xl text-gray-600 mr-2">
            </ng-icon>
            Select Files
          </div>
          <input appFileValidator appFileSizeValidator type="file" multiple hidden #f_input>
        </div>

      </div>
    </form>
  </div>

  <div class="border border-white border-t-gray-300 py-3 px-6 flex justify-between gap-2">
    <div>
      <button class="bg-orange-500 hover:bg-orange-600 text-white font-medium py-2 px-4 rounded text-sm mr-3"
        (click)="onClickPresale()">
        Assign to Presale
      </button>
      <button class="bg-transparent border hover:bg-gray-200 text-black font-medium py-2 px-4 rounded text-sm"
        (click)="onClickQuote()">
        Create Quote
      </button>
    </div>
    <button class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2 px-4 rounded text-sm"
      (click)="onSubmit()">
      Create Enquiry
    </button>
  </div>
</div>