<div class="w-full p-8">
    <div class="w-full h-full bg-white p-10 m-2 mb-5 rounded-md">
        <div class="flex">
            <div class="w-40">
                <img src="assets/images/avatar.avif" alt="">
            </div>
            <div class=" px-4">
                <div class="flex gap-1">
                    <i><ng-icon name="heroUser" class="text-orange-400 text-lg mt-[1px]"></ng-icon></i>
                    <p class="font-medium text-orange-400 "> Profile info:</p>
                </div>
                <div class="mt-1 ml-1" *ngIf="employeeData$ | async as employeeData; else profileBlock">
                    <p class="text-lg">{{employeeData.firstName}} {{employeeData.lastName}}</p>
                    <span class="text-sm">{{employeeData.category.categoryName}} - {{employeeData.category.role |
                        titlecase}}</span>
                    <div class="mt-3">
                        <p>{{employeeData.email}}</p>
                        <p>{{employeeData.contactNo}}</p>
                    </div>
                </div>
                <ng-template #profileBlock>
                    <app-skelton-loading [lineLength]="1"></app-skelton-loading>
                </ng-template>
            </div>
        </div>
    </div>
    <div *ngIf="companyDetails; else noCompanyDetails" class="w-full h-full bg-white p-10 m-2 mb-5 rounded-md">

        <div class="mb-5">
            <div class="flex gap-1 items-center">
                <div class="flex items-center gap-1">
                    <i><ng-icon name="heroBuildingOffice" class="text-orange-400 text-lg mt-[1px]"></ng-icon></i>
                    <p class="font-medium text-orange-400"> Organization Details:</p>
                </div>
                <button
                    class="ml-auto bg-violet-700 hover:bg-violet-600 text-white font-medium py-2.5 px-4 rounded text-sm flex items-center gap-2"
                    (click)="updateCompanyDetails()">
                    <ng-icon name="heroPencilSquare"></ng-icon>
                    Edit
                </button>
            </div>
            <p class="text-gray-600 mt-1">
                <span>{{companyDetails.name}}</span> <br>
                {{companyDetails.description}}
            </p>
        </div>


        <div class="mb-5">
            <div class="flex gap-1">
                <i><ng-icon name="heroMapPin" class="text-orange-400 text-lg mt-[1px]"></ng-icon></i>
                <p class="font-medium text-orange-400">Address:</p>
            </div>
            <p class="text-gray-600 mt-1">{{companyDetails.name}}, <br>
                {{companyDetails.address.street}}, <br>
                {{companyDetails.address.area}}, <br>
                {{companyDetails.address.city}} - {{companyDetails.address.country}}
            </p>
        </div>
    </div>
    <ng-template #noCompanyDetails>
        <div class="w-full h-64 bg-white p-10 m-2 mb-5 rounded-md flex justify-center items-center flex-col">

            <h1>No Company Details available.</h1>
            <button class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-0.5 px-4 rounded text-sm"
                (click)="updateCompanyDetails()">
                + Add Company Details
            </button>

        </div>


    </ng-template>


    

</div>
<div class="w-full p-5 bg-white"></div>