<div class="w-full p-8">
    <div class="w-full h-full bg-white p-10 m-2 mb-5 rounded-md">
        <div class="flex">
            <div class="w-40">
                <img src="assets/images/avatar.avif"
                    alt="">
            </div>
            <div class=" px-4">
                <div class="flex gap-1">
                    <i><ng-icon name="heroUser" class="text-orange-400 text-lg mt-[1px]"></ng-icon></i>
                    <p class="font-medium text-orange-400 "> Profile info:</p>
                </div>
                <div class="mt-1 ml-1" *ngIf="employeeData$ | async as employeeData; else profileBlock">
                    <p class="text-lg">{{employeeData.firstName}} {{employeeData.lastName}}</p>
                    <span class="text-sm">{{employeeData.category.categoryName}} - {{employeeData.category.role | titlecase}}</span>
                    <div class="mt-3">
                        <p>{{employeeData.email}}</p>
                        <p>{{employeeData.contactNo}}</p>
                    </div>
                </div>
                <ng-template #profileBlock>
                    <app-skelton-loading [lineLength]="1"></app-skelton-loading>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="w-full h-full bg-white p-10 m-2 mb-5 rounded-md">
        <div class="mb-5">
            <div class="flex gap-1">
                <i><ng-icon name="heroBuildingOffice" class="text-orange-400 text-lg mt-[1px]"></ng-icon></i>
                <p class="font-medium text-orange-400 "> Organization Details:</p>
            </div>
            <p class="text-gray-600 mt-1">
                <span class="">Neuron Technologies</span> <br>
                A versatile technology integrator with unparalleled array of products and services to encompass every
                need an enterprise will endure in field of digital information and technology.
            </p>
        </div>


        <div class="mb-5">
            <div class="flex gap-1">
                <i><ng-icon name="heroMapPin" class="text-orange-400 text-lg mt-[1px]"></ng-icon></i>
                <p class="font-medium text-orange-400">Address:</p>
            </div>
            <p class="text-gray-600 mt-1">Neuron Technologies, <br>
                Umm Ghuwailina, street No.950, <br>
                Area No.27 , Doha-Qatar</p>
        </div>
    </div>
    
</div>
<div class="w-full p-5 bg-white"></div>