<div class="w-full p-8">
    <div class="w-full h-full bg-white p-10 m-2 mb-5 rounded-md">
        <div class="flex">
            <div class="w-40">
                <img src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?w=740&t=st=1702958509~exp=1702959109~hmac=2fc43302208cd7b1afb5fb1bc57913ac8beee6e0282fbd8141fb835b0cc19cd2"
                    alt="">
            </div>
            <div class=" px-4">
                <div class="flex gap-1">
                    <i><ng-icon  name="heroUser" class="text-orange-400 text-lg mt-[1px]"></ng-icon></i>
                    <p class="font-medium text-orange-400 "> Profile info:</p>
                </div>
                <div class="mt-1 ml-1">
                    <p class="text-lg">Mr.User</p>
                    <span class="text-sm">Manager</span>
                    <div class="mt-3">
                        <p>Email : mruser at gmail.com</p>
                        <p>Contact No: +91 876423....</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full h-full bg-white p-10 m-2 mb-5 rounded-md">
        <div class="mb-5">
            <div class="flex gap-1">
                <i><ng-icon  name="heroBuildingOffice" class="text-orange-400 text-lg mt-[1px]"></ng-icon></i>
                <p class="font-medium text-orange-400 "> Organization Details:</p>
            </div>
            <p class="text-gray-600 mt-1">
                <span class="">Neuron Technologies</span> <br>
                A versatile technology integrator with unparalleled array of products and services to encompass every
                need an enterprise will endure in field of digital information and technology.
            </p>
        </div>


        <div class="mb-5">
            <div class="flex gap-1">
                <i><ng-icon  name="heroMapPin" class="text-orange-400 text-lg mt-[1px]"></ng-icon></i>
                <p class="font-medium text-orange-400">Address:</p>
            </div>
            <p class="text-gray-600 mt-1">Neuron Technologies, <br>
                Umm Ghuwailina, street No.950, <br>
                Area No.27 , Doha-Qatar</p>
        </div>
    </div>
    <div class="w-full h-full bg-white p-10 m-2 rounded-md">
        <div class="mb-5">
            <div class="flex gap-1">
                <i><ng-icon  name="heroBuildingLibrary" class="text-orange-400 text-lg mt-[1px]"></ng-icon></i>
                <p class="font-medium text-orange-400">Department:</p>
            </div>
            <button class="bg-violet-700 px-3 py-2 text-white hover:bg-violet-600 rounded-md mt-3 text-sm"
                (click)="openCreateForm = true" *ngIf="!openCreateForm">+ Add
                Department</button>
            <div class="" *ngIf="openCreateForm">
                <form action="">
                    <div class="">
                        <div class="mt-1">
                            <label for="" class="me-2 text-gray-700">Department Name:</label>
                            <input type="text" name="" id=""  appNoLeadingSpace
                                class="w-80 mt-1 px-3 py-1.5 border border-gray-200 rounded-md ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-violet-300 outline-none sm:text-sm sm:leading-6"
                                placeholder="Eg:- ICT" (input)="onInputValues($event)">
                        </div>
                        <div class="mt-2 flex">
                            <label for="" class="me-3 text-gray-700">Department Head:</label>
                            <app-custom-select [options]="employeeList"
                                (selectedOption)="onOptionSelected($event)"></app-custom-select>
                        </div>
                    </div>
                    <button class="bg-orange-600 px-3 py-2 text-white hover:bg-orange-500 rounded-md mt-2 text-sm me-2"
                        (click)="onCloseClicked()">Close</button>
                    <button class="bg-violet-700 px-3 py-2 text-white hover:bg-violet-600 rounded-md mt-2 text-sm"
                        (click)="onSubmit()" [disabled]="!enableSubmit">+ Add
                        Department</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="w-full p-5 bg-white"></div>