<main class="relative flex flex-1 flex-col overflow-hidden"><img src="assets/images/beams-cover.webp" alt=""
        class="absolute top-0 w-full h-full">
    <div
        class="absolute inset-0 text-slate-900/[0.07] [mask-image:linear-gradient(to_bottom_left,white,transparent,transparent)]">
        <svg class="absolute inset-0 h-full w-full" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <pattern id="grid-bg" width="32" height="32" patternUnits="userSpaceOnUse" x="100%"
                    patternTransform="translate(0 -1)">
                    <path d="M0 32V.5H32" fill="none" stroke="currentColor"></path>
                </pattern>
            </defs>
            <rect width="100%" height="100%" fill="url(#grid-bg)"></rect>
        </svg>
    </div>
    <div class="relative flex flex-1 flex-col items-center justify-center ">
        <section>
            <div class="flex flex-col items-center justify-center  mx-auto md:h-screen w-[750px]">
                <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 ">
                    <img class="w-8 h-8 mr-2" src="../../../../../assets/images/favicon.png" alt="logo">
                    <img class="w-46 h-8 mr-2" src="../../../../../assets/images/companyTransparent.png" alt="logo">
                </a>
                <div  class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
                    <div *ngIf="isEmployeePresent" class="p-6 space-y-4 md:space-y-6 sm:p-8">
                        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">
                            Sign in to your account
                        </h1>
                        <form [formGroup]="loginForm" class="space-y-4 md:space-y-6" (ngSubmit)="onSubmit()">
                            <div>
                                <label for="id" class="block mb-2 text-sm font-medium text-gray-900 ">Employee
                                    ID</label>
                                <input formControlName="employeeId" type="text" name="id" id="email" appNoLeadingSpace
                                    [class.border-red-500]="submit&&(loginForm.controls['employeeId'].hasError('required')||employeeNotFoundError)"
                                    class="bg-gray-50 border outline-none border-gray-300 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5 "
                                    placeholder="NT-1100" required="">

                            </div>
                            <div>
                                <label for="password"
                                    class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
                                <div [class.border-red-500]="submit&&loginForm.controls['password'].hasError('required')"
                                    class="flex justify-center items-center   w-full text-gray-700  rounded leading-tight bg-gray-50 border border-gray-300">
                                    <input formControlName="password" [type]="passwordType" name="password"
                                        id="password" placeholder="••••••••" appNoLeadingSpace
                                        class="outline-none text-gray-900 sm:text-sm rounded-lg bg-gray-50  block w-full p-2.5"
                                        required="">

                                    <button class="p-2 hover:bg-gray-300 rounded-full w-8 h-8 mx-1" type="button"
                                        (click)="passwordShow()">

                                        <ng-icon [name]="showIcon" class="text-black"></ng-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="text-sm">
                                <div *ngIf="loginForm.controls['employeeId'].errors">
                                    <p *ngIf="submit&&(loginForm.controls['employeeId'].hasError('required'))"
                                        class="text-red-500">Employee id required</p>
                                </div>
                                <p *ngIf="employeeNotFoundError" class="text-red-500">Employee not found.</p>
                                <div *ngIf="loginForm.controls['password'].errors">
                                    <p *ngIf="submit&&loginForm.controls['password'].hasError('required')"
                                        class="text-red-500">Password required</p>
                                </div>
                                <p *ngIf="passwordNotMatchError" class="text-red-500">Password incorrect.</p>

                            </div>
                            <div class="flex justify-center">
                                <button type="submit"
                                    class="w-full  text-white bg-violet-700 hover:bg-violet-600  font-medium rounded-lg text-sm px-5 py-2.5 mb-2 text-center flex justify-center items-center gap-2">
                                    <ng-icon *ngIf="isSaving" class="spin" name="heroArrowPath"></ng-icon>
                                    Sign in
                                </button>

                            </div>

                        </form>
                    </div> 
                    <div *ngIf="!isEmployeePresent" class="mt-8 w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
                        <div class="p-6 space-y-2 md:space-y-2 sm:p-8">
                            <p class="text-gray-600 mb-4">
                                No Employees Found in the Database
                            </p>
                            <button type="button" (click)="onCreateSuperAdmin()"
                                class="w-full text-white bg-violet-700 hover:bg-violet-600 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 text-center flex justify-center items-center gap-2">
                                <ng-icon name="heroUserCircle" class="text-white text-lg"></ng-icon>
                                Create Super Admin Account
                            </button>
                        </div>
                    </div>

                </div>

               
            </div>
        </section>
    </div>
</main>