/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import "~@ng-select/ng-select/themes/default.theme.css";

@font-face{
    font-family: 'Jost, sans-serif';
    src: url('./assets/font/static/Jost-Medium.ttf');
}

html, body { height: 100%; }
body,td,th { margin: 0; font-family: "Jost, sans-serif"; }

.ng-select.form .ng-select-container {
    height: 45px;
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    border: none;
}

.ng-select.filter .ng-select-container {
    height: 40px;
}

/* CSS to hide spin buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.mat-tooltip {
  font-size: 10px;
}