/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Jost, sans-serif';
    src: url('./assets/font/static/Jost-Medium.ttf');
}

html, body { height: 100%; }
body { margin: 0; font-family: "Jost, sans-serif"; }
