<div class=" bg-purple-700  p-3 px-6 flex justify-between">
  <h3 class="text-md text-white font-medium">Celebration</h3>
  <button class="bg-purple-500 text-white  rounded-lg p-1 text-center flex items-center justify-center"
    (click)="onClose()">
    <ng-icon name="heroXMark" class=""></ng-icon>
  </button>
</div>

<div class="confetti-container">
  <app-confetti-component></app-confetti-component>
</div>

<div class="bg-purple-700  h-full w-full pt-7">
  <p class="text-white text-3xl text-center ">{{ celebData.title }}</p>
  <div class="p-5">
    <p class="text-center text-white text-xl ">{{countdown}}</p>
  </div>
</div>