<div class="bg-white rounded-lg shadow-lg w-full">
    <div class="border-b px-4 py-3 flex justify-between">
        <h3 class="text-lg font-semibold text-gray-900">Rejection History</h3>
        <button class="bg-gray-200 rounded-lg p-1 text-center flex items-center justify-center" (click)="closeModal()">
            <ng-icon name="heroXMark" class="text-md p-0 m-0"></ng-icon>
        </button>
    </div>
    <div class="px-8 py-5">
        <ng-container *ngFor="let rejection of data">
            <div class="mb-4 py-4 px-4 border-2 border-gray-200 rounded-lg">
                <div class="flex justify-between items-center w-full">
                    <div>
                        <h4 *ngIf="rejection?.employeeId?.firstName" class="text-md font-semibold">
                            {{ rejection.employeeId.firstName + ' ' + rejection.employeeId.lastName }}
                        </h4>
                        <p *ngIf="rejection.rejectionReason; else noFeedback">{{ rejection.rejectionReason }}</p>
                    </div>
                    <div class="text-right">
                        <!-- Date of Rejection -->
                        <p *ngIf="rejection.rejectedAt" class="text-sm text-gray-500 mt-1">{{ rejection.rejectedAt | date: 'shortDate' }}</p>
                    </div>
                    <ng-template #noFeedback>
                        <p class="text-gray-500 italic">No Rejections</p>
                    </ng-template>
                </div>
            </div>
        </ng-container>
    </div>
</div>
