<div class="bg-black bg-opacity-50 flex items-center justify-center min-w-90">
    <div class="bg-white rounded-lg shadow-lg max-w-lg w-full ">
        <!-- Header -->
        <div class="flex justify-between items-center px-6 py-3">
            <h2 class="text-xl font-bold text-gray-800">LPO Files</h2>
            <button class="hover:bg-gray-100 rounded-full p-2 text-center flex items-center justify-center transition-colors" (click)="onClose()">
                <ng-icon name="heroXMark" class="text-gray-500 text-md"></ng-icon>
            </button>
        </div>

        <!-- Divider -->
        <div class="h-px bg-gray-200 "></div>

        <!-- Files List -->
        <div class="space-y-2 p-6">
            <div *ngFor="let file of data.lpoFiles; let i=index" 
                 class="p-3 hover:bg-gray-50 rounded-md flex justify-between items-center gap-4 border border-gray-100">
                <p class="text-sm flex items-center">
                    <ng-icon name="heroDocument" class="text-gray-400 mr-2"></ng-icon>
                    <span (click)="onDownloadClicks(file)"
                          class="hover:underline hover:text-purple-600 hover:cursor-pointer max-w-[13rem] truncate"
                          [matTooltip]="'Download File'" 
                          matTooltipPosition="below"
                          matTooltipClass="mat-tooltip">
                        {{file.originalname}}
                    </span>
                </p>
                <ng-container *ngIf="!data.dealData">
                    <ng-container *ngIf="removingFileIndex === i; else removeIcon">
                        <ng-icon name="heroArrowPath" class="text-orange-500 text-lg spin"></ng-icon>
                    </ng-container>
                    <ng-template #removeIcon>
                        <ng-icon name="heroXMark" 
                                class="text-gray-400 hover:text-red-500 text-lg cursor-pointer transition-colors"
                                (click)="onFileRemoved(i)">
                        </ng-icon>
                    </ng-template>
                </ng-container>
            </div>
        </div>

        <!-- Divider -->
        <div class="h-px bg-gray-200"></div>

        <!-- Upload Button -->
        <div class="flex justify-end px-6 py-3">
            <label *ngIf="!data.dealData"
                class="relative inline-flex items-center gap-1.5 bg-violet-700 hover:bg-violet-600 text-white font-medium py-1.5 px-3 rounded text-xs cursor-pointer transition-colors">
                <input type="file" class="absolute inset-0 w-full h-full opacity-0 cursor-pointer"
                    (change)="onUploadLpo($event)">
                <ng-icon name="heroArrowUpTray" class="text-sm"></ng-icon>
                <span>{{ isUploading ? 'Uploading...' : 'Add File' }}</span>
                <ng-icon *ngIf="isUploading" class="spin text-sm" name="heroArrowPath"></ng-icon>
            </label>
        </div>
    </div>
</div>