<div class=" bg-black bg-opacity-50 flex items-center justify-center ">
    <div class="bg-white rounded-lg shadow-lg max-w-lg w-full p-6">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl font-bold">LPO Details</h2>
            <button class="bg-gray-200 rounded-lg p-1 text-center flex items-center justify-center" (click)="onClose()">
                <ng-icon name="heroXMark" class="text-md p-0 m-0"></ng-icon>
            </button>
        </div>
        <div class="space-y-4">
            <div class="p-4 bg-gray-100 rounded">
                <p class="text-gray-700">LPO Value : {{data.lpoValue}}</p>
            </div>
            <div >
                <h3 class="text-md font-semibold">LPO Files</h3>
                <div class="p-2 bg-gray-100 rounded " *ngFor="let file of data.lpoFiles;let i=index">
                        <p class="text-sm w-64 flex  items-center"><span
                            (click)="onDownloadClicks(file)"
                            class="hover:underline hover:text-purple-600 hover:cursor-pointer max-w-[13rem] truncate"
                            [matTooltip]="'Download File'" matTooltipPosition="below"
                            matTooltipClass="mat-tooltip">{{file.originalname}}</span>
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>