<div class="border border-white border-b-gray-300 p-3 px-6 flex justify-between ">
    <h3 class="text-md font-medium">Create Department</h3>
    <button class="bg-gray-200 rounded-lg p-1 text-center flex items-center justify-center" (click)="onCloseClicked()">
        <ng-icon name="heroXMark" class="text-md p-0 m-0"></ng-icon>
    </button>
</div>
<div class="p-5">
    <form action="">
        <div class="mt-1">
            <label for="" class="me-2 text-gray-700">Department Name:</label>
            <input type="text" name="" appNoLeadingSpace
                class="w-80 mt-1 px-3 py-1.5 border border-gray-200 rounded-md ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-violet-300 outline-none sm:text-sm sm:leading-6"
                placeholder="Eg:- ICT" [formControl]="name">
        </div>
        <div class="mt-2 flex">
            <label for="employee" class="me-3 text-gray-700">Department Head:</label>
            <div class="w-80">
                <ng-select id="employee" class="filter" placeholder="Emloyees" appendTo="body" [formControl]="head">
                    <ng-option *ngFor="let employee of employeesList$ | async"
                        [value]="employee._id">{{employee.firstName}} {{employee.lastName}}</ng-option>
                </ng-select>
            </div>
        </div>
    </form>
</div>
<div class="border border-white border-t-gray-300 p-3 px-6 flex justify-end gap-2">
    <button class="bg-orange-600 hover:bg-orange-500 text-white font-medium py-2 px-4 rounded text-sm"
        (click)="onCloseClicked()">
        Cancel
    </button>
    <button class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2 px-4 rounded text-sm"
        *ngIf="newDepartment; else updateBlock" (click)="onSubmit()">
        Create
    </button>
    <ng-template #updateBlock>
        <button class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2 px-4 rounded text-sm"
            (click)="onUpdate()" [disabled]="!head.dirty">
            Update
        </button>
    </ng-template>
</div>