<div class="bg-white m-6">
    <div class="text-lg font-medium p-4 border-b border-b-gray-300 px-8">

        <div class="flex flex-col md:flex-row items-center justify-between md:items-end gap-3">
            <div class="flex gap-2">
                <h3>Job Sheet</h3>
                <p *ngIf="reportDate"
                    class="text-sm font-normal bg-purple-200 px-4 gap-2 flex justify-center items-center">{{reportDate}}
                    <ng-icon (click)="onRemoveReport()" class="hover:text-red-500 cursor-pointer"
                        name="heroXMark"></ng-icon>
                </p>
            </div>
            <div class="flex justify-end items-center gap-4">
               
                <div *ngIf="!isLoading && !isEmpty" class="flex justify-end items-center  h-full">
                    <p class="text-lg font-medium">Total LPO Value: {{formatNumber(totalLpoValue.toFixed(2)) }}  QAR</p>
                </div>
                <div class="flex items-center cursor-pointer border border-gray/60 rounded-[6px] px-[20px]"
                    [matMenuTriggerFor]="beforeMenu" mat-button>
                    <ng-icon name="heroArrowDownCircle"></ng-icon>
                    <p class="mx-2 text-sm">Report</p>
                    <div class="mt-1">
                        <ng-icon name="heroChevronDown"></ng-icon>
                    </div>
                </div>
                <mat-menu #beforeMenu="matMenu" class="mt-2 h-auto w-96">

                    <div class="p-4" (click)="handleNotClose($event)">

                        <generate-report (generatePdf)="generatePdf($event)"></generate-report>

                    </div>

                </mat-menu>
                <div
                class="h-10 inline-flex items-center justify-between text-body dark:text-white/60 bg-white border border-gray/60 rounded-[6px] pl-[20px] pr-[8px]">
                <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="ngModelChange()"
                    placeholder="Search by JobId/customer" (keyup.enter)="onSearch()"
                    class="bg-transparent border-none text-[15px] shadow-none text-black flex items-center focus:outline-none">
                <div class="bg-violet-100 hover:bg-violet-200 flex justify-center items-center rounded-full  cursor-pointer"
                    (click)="onSearch()">

                    <ng-icon name="heroMagnifyingGlass" class="text-sm text-gray-600  hover:text-violet-700 m-1.5">
                    </ng-icon>
                </div>
            </div>
                <div class="min-w-80 flex gap-2" (click)="handleNotClose($event)">

                    <div class="w-full">
                        <ng-select appNoLeadingSpace [(ngModel)]="selectedEmployee" class="filter-createdby"
                            placeholder="Sales Person" appendTo="body" (change)="onfilterApplied()">
                            <ng-option *ngFor="let employee of employees$ | async"
                                [value]="employee._id">{{employee.fullName}}</ng-option>
                        </ng-select>
                    </div>
                    <div  class="w-full">
                        <ng-select [(ngModel)]="selectedStatus" class=" filter " placeholder="Status" appendTo="body"
                            (change)="onfilterApplied()">
                            <ng-option *ngFor="let status of status" [value]="status.value">{{status.value}}</ng-option>
                        </ng-select>
                    </div>
                    <div  class="w-full" *ngIf="searchQuery || selectedEmployee || selectedStatus">
                        <button 
                            class="w-full bg-orange-500 hover:bg-orange-00 text-white font-medium py-2.5 px-4 rounded text-xs whitespace-nowrap"
                            (click)="clearFilter()">
                            x Clear All Filter
                        </button>
                    </div>
                </div>


            </div>

        </div>
    </div>

    <app-skelton-loading *ngIf="isLoading" [lineLength]="4"></app-skelton-loading>

    <div class="m-8  overflow-y-auto">
        <div *ngIf="isEmpty && !isLoading" class="w-full flex justify-center items-center pb-8">
            <div class="p-3">
                <img src="assets/images/empty.png" alt="">
                <p class="m-2 text-center text-gray-500">No Data</p>
            </div>
        </div>

        <section class="mat-elevation-z8 h-fit max-h-[57vh] overflow-auto" tabindex="0">

            <table *ngIf="!isLoading && !isEmpty" mat-table [dataSource]="dataSource" class="rounded-lg table-fixed">

                <ng-container matColumnDef="jobId">
                    <th *matHeaderCellDef
                        class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                        JobID </th>
                    <td mat-cell *matCellDef="let element" class="text-purple-600 font-medium"> {{element.jobId}} </td>
                </ng-container>

                <ng-container matColumnDef="customerName">
                    <th *matHeaderCellDef
                        class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                        Customer </th>
                    <td mat-cell *matCellDef="let element"> {{element.clientDetails.companyName}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th *matHeaderCellDef
                        class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                        Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.quotation.subject}} </td>
                </ng-container>

                <ng-container matColumnDef="salesPersonName">
                    <th *matHeaderCellDef
                        class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                        Sales Person </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.salesPersonDetails[0].firstName+' '+element.salesPersonDetails[0].lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="department">
                    <th *matHeaderCellDef
                        class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                        Dep. </th>
                    <td mat-cell *matCellDef="let element"> {{element.departmentDetails[0].departmentName}} </td>
                </ng-container>

                <ng-container matColumnDef="quotations">
                    <th *matHeaderCellDef
                        class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                        Quotations </th>
                    <td mat-cell *matCellDef="let element"
                        class="hover:text-purple-600 hover:font-semibold cursor-pointer" matTooltip="Preview Quote"
                        matTooltipPosition="above" matTooltipClass="mat-tooltip"
                        (click)="onPreviewPdf(element.quotation,element.salesPersonDetails[0],element.clientDetails,element.attention)">
                        {{element.quotation.quoteId}} </td>
                </ng-container>

                <ng-container matColumnDef="dealSheet">
                    <th *matHeaderCellDef
                        class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden ">
                        Deal Sheet </th>
                    <td mat-cell *matCellDef="let element"
                        class="hover:text-purple-600 hover:font-semibold cursor-pointer" matTooltip="View Deal"
                        matTooltipPosition="above" matTooltipClass="mat-tooltip"
                        (click)="onViewDealSheet(element.quotation,element.salesPersonDetails[0],element.clientDetails)">
                        {{element.quotation.dealData.dealId}} </td>
                </ng-container>

                <ng-container matColumnDef="comment">
                    <th *matHeaderCellDef
                        class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden ">
                        Comment </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="flex justify-center items-center gap-3" *ngIf="element.comment">
                                <button (click)="onViewComment(element.comment)"
                                    class="w-7 h-7 rounded-full border border-gray-300 hover:border-gray-500 flex justify-center items-center"
                                    matTooltip="View Comment" matTooltipPosition="above" matTooltipClass="mat-tooltip">
                                    <ng-icon name="heroEye" class="text-black"></ng-icon>
                                </button>
                            </div>
                        </td>
                </ng-container>

                <ng-container matColumnDef="lpo">
                    <th *matHeaderCellDef
                        class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                        LPO </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="flex flex-col gap-2" *ngIf="element.quotation.lpoFiles">
                            <div *ngFor="let file of element.quotation.lpoFiles; let i=index">
                                <div class="flex" *ngIf="file.originalname">
                                    <p class="w-24 truncate ..." matTooltip="{{file.originalname}}"
                                        matTooltipPosition="above" matTooltipClass="mat-tooltip">{{file.originalname}}
                                    </p>
                                    <button class="w-5 h-5 border rounded-full flex justify-center items-center mr-2"
                                        (click)="onViewPDF(file)">
                                        <ng-icon class="text-black" name="heroEye"></ng-icon>
                                    </button>
                                    <button class="w-5 h-5 border rounded-full flex justify-center items-center"
                                        (click)="onDownloadClicks(file)">
                                        <ng-icon class="text-black" name="heroInboxArrowDown"></ng-icon>
                                    </button>
                                </div>
                                <div class="w-24" *ngIf="file.fileName && file.fileName === selectedFile">
                                    <mat-progress-bar mode="determinate" value="{{progress}}"></mat-progress-bar>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>



                <ng-container matColumnDef="lpoValue">
                    <th *matHeaderCellDef
                        class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                        LPO Value </th>
                    <td mat-cell *matCellDef="let element"> {{element.lpoValue | numberFormatter}} QAR </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th *matHeaderCellDef
                        class="bg-gray-100 text-center  px-[4px] py-[16px]  text-dark  text-[15px] font-medium border-none before:hidden">
                        Status </th>
                    <td mat-cell *matCellDef="let element;let i= index" class="">
                        <div (click)="onStatus($event,element.status)"
                            *ngIf="element.status !== 'Won' && element.status !== 'Lost'"
                            class="flex items-center cursor-pointer border border-gray/60 rounded-[6px] px-[14px] py-1 max-w-fit hover:bg-white"
                            [matMenuTriggerFor]="beforeMenu" mat-button>
                            <p class="mx-2 text-sm whitespace-nowrap">{{element.status}}</p>
                            <div class="mt-1">
                                <ng-icon name="heroChevronDown"></ng-icon>
                            </div>
                        </div>
                        <mat-menu #beforeMenu="matMenu" class="mt-2 h-auto mat-elevation-z0 border">
                            <div class="">
                                <div *ngFor="let status of jobStatuses">
                                    <p class="p-2 hover:bg-violet-200 cursor-pointer   px-[12px]  text-dark  text-[15px] "
                                        *ngIf="status !== element.status" (click)="updateStatus(i,element._id,status)">
                                        {{status}}</p>
                                </div>

                            </div>
                        </mat-menu>
                        <div class="w-full flex justify-center items-center">
                            <p *ngIf="element.status === 'Won'"
                                class="w-fit text-center bg-green-100 rounded-full px-5 text-green-600  py-1">
                                {{element.status}}</p>
                            <p *ngIf="element.status === 'Lost'"
                                class="w-fit text-center bg-red-100 rounded-full px-5 text-red-600  py-1">
                                {{element.status}}</p>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th *matHeaderCellDef
                        class="bg-gray-100 text-center px-[4px] py-[16px] text-dark text-[15px] font-medium border-none before:hidden">
                        Action
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button class="text-red-600 hover:text-red-800"  *ngIf="isDeleteOption"
                                (click)="onDeleteJob(element._id)"
                                matTooltip="Delete Job"
                                matTooltipPosition="above">
                            <ng-icon name="heroTrash"></ng-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </section>
        <div class="w-full bg-white" *ngIf="!isEmpty">
            <app-pagination [page]="page" [row]="row" [total]="total"
                (changeData)="onPageNumberClick($event)"></app-pagination>
        </div>
    </div>
    <div>

    </div>
</div>