<!-- Modal Background -->
<div class="inset-0  flex items-center justify-center">
    <!-- Modal Container -->
    <div class="bg-white rounded-lg shadow-lg w-full max-w-md ">
      <!-- Modal Header -->
      <div class="border-b px-4 py-3 flex justify-between md:gap-32 gap-8">
        <h3 class="text-lg font-semibold text-gray-900">Select Employee for Feedback</h3>
        <button class="bg-gray-200 rounded-lg p-1 text-center flex items-center justify-center" (click)="onClose()">
          <ng-icon name="heroXMark" class="text-md p-0 m-0"></ng-icon>
        </button>
      </div>
      <!-- Modal Body -->
      <div class="px-4 py-5">
        <label for="employee-select" class="block text-sm font-medium text-gray-700">Employee</label>
        <div class="mt-1">
            <ng-select id="employee" class="filter" placeholder="Emloyees" appendTo="body" [(ngModel)]="selectedEmployee">
                <ng-option *ngFor="let employee of employees$ | async"
                    [value]="employee._id">{{employee.firstName}} {{employee.lastName}}</ng-option>
            </ng-select>
        </div>
      </div>
      <!-- Modal Footer -->
      <div class="border-t px-4 py-3 flex justify-end">
        <button type="button" class="mr-2 px-4 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400" (click)="onClose()">Cancel</button>
        <button type="button" class="px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" (click)="onSubmit()">Submit</button>
      </div>
    </div>
  </div>
  