<div>
    <div class="p-10">
        <div class="w-full bg-white rounded-md">
            <!-- <div class="flex p-10">
                <div class="w-1/2">
                    <p class="text-3xl font-medium">Hey
                        <span class="capitalize" *ngIf="userData$ | async as user">{{user.firstName + ' '+
                            user.lastName}}</span>,
                        Welcome to <br>Neuron Technologies
                    </p>
                    <div class="mt-5">
                        <p class="text-gray-800"> A versatile technology integrator with unparalleled array of products
                            and services to encompass every need an enterprise will endure in field of digital
                            information and technology.</p>
                    </div>
                    <div class="mt-5">
                        <button class="py-3 px-5 bg-violet-600 text-white rounded hover:bg-violet-500"
                            [routerLink]="['/profile']" routerLinkActive="router-link-active">Learn
                            More</button>
                    </div>
                </div>
                <div class="w-1/2">
                    <div class="flex justify-center">
                        <img src="assets/images/active-panel.png" alt="" width="450">
                    </div>
                </div>
            </div> -->
        </div>
        <div class="w-full bg-white rounded-md mt-5">
            <div class="p-10">
                <p class="text-md font-medium">Total no of Enquires</p>
                <div class="grid grid-cols-3 gap-10 mt-5">
                    <app-skelton-loading [lineLength]="3" *ngIf="isEnquiryLoading" class="col-span-3"></app-skelton-loading>
                    <div class="col-span-1 flex" *ngFor="let data of enquiries$ | async; let i = index" @opacityTrigger>
                        <div [ngSwitch]="data.department[0].departmentName.toLowerCase().trim()">
                            <div class="w-20 h-20 flex justify-center items-center rounded-full bg-violet-100"
                                *ngSwitchCase="'ict'">
                                <ng-icon name="heroClipboardDocumentList" class="text-5xl text-violet-700"></ng-icon>
                            </div>
                            <div class="w-20 h-20 flex justify-center items-center rounded-full bg-green-100"
                                *ngSwitchCase="'security system'">
                                <ng-icon name="heroShieldCheck" class="text-5xl text-green-700"></ng-icon>
                            </div>
                            <div class="w-20 h-20 flex justify-center items-center rounded-full bg-orange-100"
                                *ngSwitchCase="'distributions'">
                                <ng-icon name="heroCube" class="text-5xl text-orange-700"></ng-icon>
                            </div>
                            <div class="w-20 h-20 flex justify-center items-center rounded-full bg-lime-100"
                                *ngSwitchDefault>
                                <ng-icon name="heroRectangleStack" class="text-5xl text-lime-700"></ng-icon>
                            </div>
                        </div>
                        <div class="mx-5">
                            <span class="text-gray-800 uppercase">{{data.department[0].departmentName}}</span>
                            <p class="text-3xl font-bold mt-1">{{data.total}} <span
                                    class="text-xs text-gray-700">Nos</span></p>
                            <div class="text-sm text-gray-700 mt-2">
                                <a class="text-blue-500 underline uppercase cursor-pointer">See all reports</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full rounded-md mt-5">
            <div class="grid grid-cols-2 gap-10">
                <div class="p-10 bg-white rounded-md">
                    <p class="text-md font-medium">Total No of Quote Submitted</p>
                    <app-skelton-loading [lineLength]="1" *ngIf="isQuoteLoading;else quoteBlock" class="col-span-3"></app-skelton-loading>
                    <ng-template #quoteBlock>
                        <div class="mt-5 flex" @opacityTrigger>
                            <div class="w-20 h-20 flex justify-center items-center rounded-full bg-yellow-100">
                                <ng-icon name="heroNewspaper" class="text-5xl text-yellow-700"></ng-icon>
                            </div>
                            <div class="mx-5">
                                <div *ngIf="quotations$ | async as quote">
                                    <p class="text-3xl font-bold mt-1">{{quote.total}} <span class="text-xs text-gray-700">Nos</span></p>
                                </div>
                                <div class="text-sm text-gray-700 mt-2">
                                    <a class="text-blue-500 underline uppercase cursor-pointer" [routerLink]="['/quotations']">See all reports</a>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
                <div class="p-10 bg-white rounded-md">
                    <p class="text-md font-medium">Total No of Jobs Awarded</p>
                    <div class="mt-5 flex" @opacityTrigger>
                        <div class="w-20 h-20 flex justify-center items-center rounded-full bg-rose-100">
                            <ng-icon name="heroBriefcase" class="text-5xl text-rose-700"></ng-icon>
                        </div>
                        <div class="mx-5">
                            <p class="text-3xl font-bold mt-1">769 <span class="text-xs text-gray-700">Nos</span></p>
                            <div class="text-sm text-gray-700 mt-2">
                                <span class="text-red-500">
                                    <ng-icon name="heroArrowDown" class="font-medium"></ng-icon> 10.2%
                                </span>
                                <span class="mx-1">since last month</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full bg-white rounded-md mt-5">
            <div class="p-10">
                <p class="text-md font-medium">Enquires</p>
                <div id="chart">
                    <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!"
                        [xaxis]="chartOptions.xaxis!" [stroke]="chartOptions.stroke!" [tooltip]="chartOptions.tooltip!"
                        [dataLabels]="chartOptions.dataLabels!"></apx-chart>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="w-full h-10 bg-white relative">
        <div class="absolute bottom-0 right-0">
            <a href="https://github.com/ByteFusionX" class="text-xs underline text-violet-800 ">ByteFusionX</a>
        </div>
    </div>
</div>