<div>
    <div class="md:p-8 p-5">
        <div class="w-full bg-white rounded-md">
            <div class="md:flex p-10">
                <div class="md:w-1/2">
                    <p class="text-4xl font-medium mt-2">Hey
                        <span class="capitalize" *ngIf="userData$ | async as user">{{user.firstName + ' '+
                            user.lastName}}</span>,<br>
                        
                    </p>
                    <p class="text-3xl font-medium mt-2">Welcome to Neuron Technologies</p>
                    <div class="mt-3">
                        <p class="text-gray-800"> A versatile technology integrator with unparalleled array of products
                            and services to encompass every need an enterprise will endure in field of digital
                            information and technology.</p>
                    </div>
                    <div class="mt-5">
                        <button class="py-2 px-4 bg-violet-600 text-white rounded hover:bg-violet-500"
                            (click)="onClickLearnButton()">Learn
                            More</button>
                    </div>
                </div>
                <div class="md: w-1/2">
                    <div class="flex justify-center">
                        <img src="assets/images/active-panel.webp" alt="" width="" class="w-[450px]">
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full bg-white rounded-md mt-5">
            <div class="p-10">
                <p class="text-md font-medium">Total no of Enquires</p>
                <div class="md:grid grid-cols-3 gap-10 mt-5">
                    <app-skelton-loading [lineLength]="1" *ngIf="isEnquiryLoading"
                        class="col-span-3"></app-skelton-loading>
                    <div class="md:col-span-1 flex mb-5" *ngFor="let data of enquiries$ | async; let i = index"
                        @opacityTrigger>
                        <div [ngSwitch]="data.department[0].departmentName.toLowerCase().trim()">
                            <div class="w-20 h-20 flex justify-center items-center rounded-full bg-violet-100"
                                *ngSwitchCase="'ict'">
                                <ng-icon name="heroClipboardDocumentList" class="text-5xl text-violet-700"></ng-icon>
                            </div>
                            <div class="w-20 h-20 flex justify-center items-center rounded-full bg-green-100"
                                *ngSwitchCase="'security system'">
                                <ng-icon name="heroShieldCheck" class="text-5xl text-green-700"></ng-icon>
                            </div>
                            <div class="w-20 h-20 flex justify-center items-center rounded-full bg-orange-100"
                                *ngSwitchCase="'distributions'">
                                <ng-icon name="heroCube" class="text-5xl text-orange-700"></ng-icon>
                            </div>
                            <div class="w-20 h-20 flex justify-center items-center rounded-full bg-lime-100"
                                *ngSwitchDefault>
                                <ng-icon name="heroRectangleStack" class="text-5xl text-lime-700"></ng-icon>
                            </div>
                        </div>
                        <div class="mx-5">
                            <span class="text-gray-800 uppercase font-medium">{{data.department[0].departmentName}}</span>
                            <p class="text-3xl font-semibold mt-1">{{data.total}} <span
                                    class="text-xs text-gray-700">Nos</span></p>
                            <div class="text-sm text-gray-700 mt-2">
                                <a class="text-blue-500 underline uppercase cursor-pointer hover:text-blue-700 font-medium"
                                    (click)="onDepartmentSelect(data.department[0]._id)">See all reports</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full rounded-md mt-5">
            <div class="md:grid grid-cols-2 gap-10">
                <div class="p-10 bg-white rounded-md mb-5">
                    <p class="text-md font-medium">Total No of Quote Submitted</p>
                    <app-skelton-loading [lineLength]="1" *ngIf="isQuoteLoading;else quoteBlock"
                        class="col-span-3"></app-skelton-loading>
                    <ng-template #quoteBlock>
                        <div class="mt-5 flex" @opacityTrigger>
                            <div class="w-20 h-20 flex justify-center items-center rounded-full bg-yellow-100">
                                <ng-icon name="heroNewspaper" class="text-5xl text-yellow-700"></ng-icon>
                            </div>
                            <div class="mx-5">
                                <div *ngIf="quotations$ | async as quote">
                                    <p class="text-3xl font-semibold mt-1">{{quote.total}} <span
                                            class="text-xs text-gray-700">Nos</span></p>
                                </div>
                                <div class="text-sm text-gray-700 mt-2">
                                    <a class="text-blue-500 underline uppercase cursor-pointer hover:text-blue-700 font-medium"
                                        [routerLink]="['/quotations']">See all reports</a>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
                <div class="p-10 bg-white rounded-md mb-5">
                    <p class="text-md font-medium">Total No of Jobs Awarded</p>
                    <div class="mt-5 flex" @opacityTrigger>
                        <div class="w-20 h-20 flex justify-center items-center rounded-full bg-rose-100">
                            <ng-icon name="heroBriefcase" class="text-5xl text-rose-700"></ng-icon>
                        </div>
                        <div class="mx-5">
                            <p class="text-3xl font-semibold mt-1">769 <span class="text-xs text-gray-700">Nos</span></p>
                            <div class="text-sm text-gray-700 mt-2">
                                <a class="text-blue-500 underline uppercase cursor-pointer hover:text-blue-700 font-medium"
                                    [routerLink]="['/job-sheet']">See all reports</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full bg-white rounded-md mt-5">
            <div class="p-10">
                <p class="text-md font-medium">Enquires</p>
                <app-skelton-loading [lineLength]="3" *ngIf="!showChart" class="col-span-3"></app-skelton-loading>
                <div id="chart" *ngIf="showChart">
                    <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!"
                        [xaxis]="chartOptions.xaxis!" [stroke]="chartOptions.stroke!" [tooltip]="chartOptions.tooltip!"
                        [dataLabels]="chartOptions.dataLabels!"></apx-chart>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="w-full h-10 bg-white relative">
        <div class="absolute bottom-0 right-0">
            <a href="https://github.com/ByteFusionX" class="text-xs underline text-violet-800 ">ByteFusionX</a>
        </div>
    </div>
</div>