<div class="bg-white m-6">
    <div class="text-lg font-medium p-4 border-b border-b-gray-300 px-8">

        <div class="flex flex-col md:flex-row items-center justify-between md:items-end gap-3">
            <h3 class="font-semibold">Feedback Requests</h3>
        </div>
    </div>

    <app-skelton-loading *ngIf="isLoading && !isEmpty" [lineLength]="4"></app-skelton-loading>
    <div class="m-8  overflow-y-auto overflow-x-auto">
        <section class="mat-elevation-z8 h-fit max-h-[64vh] overflow-auto" tabindex="0">
            <table mat-table *ngIf="!isLoading || isEmpty" [dataSource]="dataSource" class="rounded-lg table-fixed">

                <ng-container matColumnDef="enqId">
                    <th *matHeaderCellDef
                        class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                        Enquiry ID </th>
                    <td mat-cell *matCellDef="let element">
                        <p class="text-violet-500 font-medium">{{element.enquiryId}}</p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="customerName">
                    <th *matHeaderCellDef
                        class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                        Customer Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.client[0].companyName}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th *matHeaderCellDef
                        class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                        Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>

                <ng-container matColumnDef="assignedBy">
                    <th *matHeaderCellDef
                        class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                        Ass. By </th>
                    <td mat-cell *matCellDef="let element"> {{element.salesPerson[0].firstName}}
                        {{element.salesPerson.lastName}}</td>
                </ng-container>

                <ng-container matColumnDef="department">
                    <th *matHeaderCellDef
                        class="bg-gray-100 px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                        Depart. </th>
                    <td mat-cell *matCellDef="let element"> {{element.department[0].departmentName}} </td>
                </ng-container>

                <ng-container matColumnDef="comment">
                    <th *matHeaderCellDef
                        class="bg-gray-100 px-[20px] py-[16px] text-center text-dark  text-[15px] font-medium border-none before:hidden">
                        Comment </th>
                    <td mat-cell *matCellDef="let element" class="w-full">
                        <div class="flex justify-center items-center">
                            <button (click)="onViewComment(element.preSale.comment)"
                                class="w-7 h-7 rounded-full border border-gray-300 hover:border-gray-500 flex justify-center items-center"
                                matTooltip="View Comment" matTooltipPosition="above" matTooltipClass="mat-tooltip">
                                <ng-icon name="heroEye" class="text-black"></ng-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="download">
                    <th *matHeaderCellDef
                        class="bg-gray-100 px-[20px] py-[16px] text-start text-dark text-[15px] font-medium border-none before:hidden">
                        Enquiry Files </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="flex flex-col gap-2" *ngIf="element.preSale">
                            <div class="flex" *ngFor="let file of element.preSale.presaleFiles; let i=index">
                                <p class="w-20 truncate ..." matTooltip="{{file.originalname}}"
                                    matTooltipPosition="above" matTooltipClass="mat-tooltip">{{file.originalname}}</p>
                                <button class="w-5 h-5 border rounded-full flex justify-center items-center"
                                    (click)="onDownloadClicks(file)">
                                    <ng-icon class="text-black" name="heroInboxArrowDown"></ng-icon>
                                </button>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="requestedBy">
                    <th *matHeaderCellDef
                        class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                        Req. By </th>
                    <td mat-cell *matCellDef="let element"> {{element.preSale.presalePerson[0].firstName}}
                        {{element.preSale.presalePerson[0].lastName}}</td>
                </ng-container>

                <ng-container matColumnDef="presaleFile">
                    <th *matHeaderCellDef
                        class="bg-gray-100 px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                        Presale Files
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="flex flex-col gap-2" *ngIf="element.assignedFiles.length">
                            <div class="flex" *ngFor="let file of element.assignedFiles; let i=index">
                                <p class="w-20 truncate ..." matTooltip="{{file.originalname}}"
                                    matTooltipPosition="above" matTooltipClass="mat-tooltip">{{file.originalname}}</p>
                                <button class="w-5 h-5 border rounded-full flex justify-center items-center"
                                    (click)="onDownloadClicks(file)">
                                    <ng-icon class="text-black" name="heroInboxArrowDown"></ng-icon>
                                </button>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="reply">
                    <th *matHeaderCellDef
                        class="bg-gray-100 px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                    </th>
                    <td mat-cell *matCellDef="let element; let i=index">
                        <button (click)="onGiveFeedback(element._id,i)" class="bg-orange-500 hover:bg-orange-600 text-white font-medium py-2 px-4 rounded text-sm mr-3 whitespace-nowrap">Give Feedback</button>
                    </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </section>
        <div class="w-full bg-white" *ngIf="!isEmpty">
            <app-pagination [page]="page" [row]="row" [total]="total"
                (changeData)="onDateChange($event)"></app-pagination>
        </div>
    </div>
    <div *ngIf="isEmpty" class="w-full flex justify-center items-center">
        <div class="p-3">
            <img src="assets/images/empty.png" alt="">
            <p class="m-2 text-center text-gray-500">No Data</p>
        </div>
    </div>
</div>