<div class="w-full bg-white rounded-xl z-10">
    <div class="border-b py-3 px-5">
        <h2 class="text-lg font-medium text-gray-900">
            Completed Estimations
        </h2>
    </div>
    <app-upload-file (fileUpload)="onFileUpload($event)"></app-upload-file>
    <div class="border-t py-3 flex justify-end w-full px-6">
        <div class="flex justify-end w-40">
            <button
                class=" hover:bg-gray-100 text-black font-medium py-2 px-4 rounded text-sm mr-3  border border-gray-300"
                (click)="onClose()">
                Close
            </button>
            <button (click)="onUpload()"
                class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2 px-4 rounded text-sm w-full flex justify-center items-center gap-2">
                Upload
            </button>
        </div>
    </div>
</div>