<div class="w-full p-6">
    <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4 ml-2">
        <!-- Company Sales Target Card -->
        <div *ngIf="companyTarget$ | async as target; else noTarget"
            class="md:w-1/2 p-6 bg-white border  rounded-lg">
    
            <div class="flex items-center mb-6">
                <!-- Icon for Goal/Target -->
                <svg class="w-6 h-7 text-violet-700 mr-4" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                    style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <g>
                        <path d="M490.7,256h-21.3c0,59-23.8,112.2-62.5,150.8c-38.7,38.6-91.9,62.5-150.9,62.5c-59,0-112.2-23.8-150.9-62.5
                        C66.5,368.2,42.7,315,42.7,256c0-59,23.8-112.2,62.5-150.9C143.8,66.5,197,42.7,256,42.7c59,0,112.2,23.8,150.9,62.5
                        c38.6,38.7,62.5,91.9,62.5,150.9H490.7H512C512,114.6,397.4,0,256,0C114.6,0,0,114.6,0,256c0,141.4,114.6,256,256,256
                        c141.4,0,256-114.6,256-256H490.7z M384,256h21.3c0-82.4-66.9-149.3-149.3-149.3c-82.4,0-149.3,66.9-149.3,149.3
                        c0,82.4,66.9,149.3,149.3,149.3c82.4,0,149.3-66.9,149.3-149.3H384h-21.3c0,29.5-11.9,56-31.3,75.4c-19.4,19.4-45.9,31.3-75.4,31.3
                        c-29.5,0-56-11.9-75.4-31.3c-19.4-19.4-31.3-45.9-31.3-75.4c0-29.5,11.9-56,31.3-75.4c19.4-19.4,45.9-31.3,75.4-31.3
                        c29.5,0,56,11.9,75.4,31.3c19.4,19.4,31.3,45.9,31.3,75.4H384z M277.3,256h21.3c0-23.6-19.1-42.6-42.7-42.7
                        c-23.6,0-42.6,19.1-42.7,42.7c0,23.6,19.1,42.6,42.7,42.7c23.6,0,42.6-19.1,42.7-42.7H277.3H256l0,0v0v0H277.3z" />
                    </g>
                </svg>
    
                <h2 class="text-2xl font-bold text-black">Company Sales Target</h2>
            </div>
    
            <div class="mb-6">
                <p class="text-lg font-semibold text-gray-700">
                    Target Value: <span class="text-violet-700 font-bold">{{ target.targetValue | numberFormatter }} QAR</span>
                </p>
            </div>
    
            <div class="flex items-center mb-4">
                <span class="w-32 font-medium text-red-600">Critical Target:</span>
                <span class="text-gray-700">{{ target.badRange | numberFormatter }} QAR</span>
            </div>
    
            <div class="flex items-center">
                <span class="w-32 font-medium text-yellow-500">Moderate Target:</span>
                <span class="text-gray-700">{{ target.moderateRange | numberFormatter }} QAR</span>
            </div>
    
            <div class="mt-6">
                <button (click)="editTarget(target)" class="px-4 py-1 bg-violet-700 text-white rounded-md shadow hover:bg-violet-800">
                    Edit
                </button>
            </div>
        </div>
    
        <!-- Company Gross Profit Card -->
        <div *ngIf="companyGrossProfit$ | async as grossProfit; else noGrossProfit"
            class="md:w-1/2 p-6 bg-white border  rounded-lg ">
    
            <div class="flex items-center mb-6">
                <!-- Icon for Gross Profit -->
                
                <svg version="1.1" id="Layer_1" class="w-6 h-7 text-green-700 mr-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 68.04" style="enable-background:new 0 0 122.88 68.04" xml:space="preserve"><g><path d="M2.03,56.52c-2.66,2.58-2.72,6.83-0.13,9.49c2.58,2.66,6.83,2.72,9.49,0.13l27.65-26.98l23.12,22.31 c2.67,2.57,6.92,2.49,9.49-0.18l37.77-38.22v19.27c0,3.72,3.01,6.73,6.73,6.73s6.73-3.01,6.73-6.73V6.71h-0.02 c0-1.74-0.67-3.47-2-4.78c-1.41-1.39-3.29-2.03-5.13-1.91H82.4c-3.72,0-6.73,3.01-6.73,6.73c0,3.72,3.01,6.73,6.73,6.73h17.63 L66.7,47.2L43.67,24.97c-2.6-2.5-6.73-2.51-9.33,0.03L2.03,56.52L2.03,56.52z"/></g></svg>

    
                <h2 class="text-2xl font-bold text-black">Company Gross Profit Target</h2>
            </div>
    
            <div class="mb-6">
                <p class="text-lg font-semibold text-gray-700">
                    Gross Profit Value: <span class="text-green-700 font-bold">{{ grossProfit.targetValue | numberFormatter }} QAR</span>
                </p>
            </div>
    
            <div class="flex items-center mb-4">
                <span class="w-32 font-medium text-red-600">Critical Profit:</span>
                <span class="text-gray-700">{{ grossProfit.badRange | numberFormatter }} QAR</span>
            </div>
    
            <div class="flex items-center">
                <span class="w-32 font-medium text-yellow-500">Moderate Profit:</span>
                <span class="text-gray-700">{{ grossProfit.moderateRange | numberFormatter }} QAR</span>
            </div>
    
            <div class="mt-6">
                <button (click)="editGrossProfit(grossProfit)" class="px-4 py-1 bg-green-700 text-white rounded-md shadow hover:bg-green-800">
                    Edit
                </button>
            </div>
        </div>
    </div>
    
    <!-- No Target Template -->
    <ng-template #noTarget>
        <button *ngIf="!(companyTarget$ | async)" (click)="onSetCompanyTarget()"
            class="w-64 h-10 bg-violet-700 text-white shadow rounded-lg text-sm hover:bg-violet-800">
            Set Company Sales Target
        </button>
    </ng-template>
    
    <!-- No Gross Profit Template -->
    <ng-template #noGrossProfit>
        <button *ngIf="!(companyGrossProfit$ | async)" (click)="onSetCompanyGrossProfit()"
            class="w-64 h-10 bg-green-700 text-white shadow rounded-lg text-sm hover:bg-green-800">
            Set Company Gross Profit Target
        </button>
    </ng-template>
    <div class="w-full h-full bg-white p-10 m-2 rounded-md" *ngIf="this.privileges?.portalManagement?.department">
        <div class="mb-3 flex justify-between">
            <div class="flex gap-1">
                <i><ng-icon name="heroBuildingLibrary" class="text-orange-400 text-lg mt-[1px]"></ng-icon></i>
                <p class="font-medium text-orange-400">Department:</p>
            </div>
            <button class="bg-violet-700 px-3 py-2 text-white hover:bg-violet-600 rounded-md text-sm"
                (click)="onCreateDepartment()" *ngIf="!openCreateForm">+ Add
                Department</button>
        </div>
        <div>
            <div class="h-full h-max-80 overflow-hidden overflow-y-auto example border">
                <table mat-table [dataSource]="departmentDataSource" class="rounded-lg table-fixed">
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th *matHeaderCellDef
                            class="bg-gray-100 px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                            No </th>
                        <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th *matHeaderCellDef
                            class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                            Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
                    </ng-container>

                    <!-- head Column -->
                    <ng-container matColumnDef="head">
                        <th *matHeaderCellDef
                            class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                            Head </th>
                        <td mat-cell *matCellDef="let element"> {{element.departmentHead[0].firstName}}
                            {{element.departmentHead[0].lastName}}</td>
                    </ng-container>

                    <!-- date Column -->
                    <ng-container matColumnDef="date">
                        <th *matHeaderCellDef
                            class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                            Created Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>

                    <!-- action Column -->
                    <ng-container matColumnDef="action">
                        <th *matHeaderCellDef
                            class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                            Action </th>
                        <td mat-cell *matCellDef="let element; let i=index">
                            <ng-icon class=" cursor-pointer hover:text-purple-600" name="heroPencilSquare"
                                (click)="onEditClick(i)"></ng-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="departmentDisplayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: departmentDisplayedColumns;"></tr>
                </table>
                <app-skelton-loading *ngIf="isDepartmentLoading" [lineLength]="2"></app-skelton-loading>
            </div>
        </div>
    </div>
    <div class="w-full h-full bg-white p-10 m-2 rounded-md" *ngIf="this.privileges?.portalManagement?.department">
        <div class="mb-3 flex justify-between">
            <div class="flex gap-1">
                <i><ng-icon name="heroBuildingLibrary" class="text-orange-400 text-lg mt-[1px]"></ng-icon></i>
                <p class="font-medium text-orange-400">Customer Departments:</p>
            </div>
            <button class="bg-violet-700 px-3 py-2 text-white hover:bg-violet-600 rounded-md text-sm"
                (click)="onCreateCustomerDepartment()" *ngIf="!openCreateForm">+ Add
                Customer Department</button>
        </div>
        <div>
            <div class="h-full h-max-80 overflow-hidden overflow-y-auto example border">
                <table mat-table [dataSource]="customerDepartmentDataSource" class="rounded-lg table-fixed">
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th *matHeaderCellDef
                            class="bg-gray-100 px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                            No </th>
                        <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th *matHeaderCellDef
                            class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                            Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
                    </ng-container>

                    <!-- date Column -->
                    <ng-container matColumnDef="date">
                        <th *matHeaderCellDef
                            class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                            Created Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="customerDepartmentDisplayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: customerDepartmentDisplayedColumns;"></tr>
                </table>
                <app-skelton-loading *ngIf="isCustomerDepartmentLoading" [lineLength]="2"></app-skelton-loading>
            </div>
        </div>
    </div>

    <div class="w-full h-full bg-white p-10 m-2 rounded-md" *ngIf="this.privileges?.portalManagement?.notesAndTerms">
        <div class="mb-3 flex justify-between">
            <div class="flex gap-1">
                <i><ng-icon name="heroDocumentText" class="text-orange-400 text-lg mt-[1px]"></ng-icon></i>
                <p class="font-medium text-orange-400">Customer Note & Terms:</p>
            </div>
        </div>
        <div>
            <div class="h-full h-max-80 overflow-hidden overflow-y-auto example border">
                <table mat-table [dataSource]="cstcDataSource" class="rounded-lg table-fixed min-w-full">

                    <!-- CustomerNote Column -->
                    <ng-container matColumnDef="customerNote">
                        <th *matHeaderCellDef
                            class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden w-2/5">
                            Customer Notes </th>
                        <td mat-cell *matCellDef="let element" class="align-top w-2/5">
                            <div *ngFor="let note of element.customerNotes">
                                <div class="flex justify-between items-center px-2 py-4 ">
                                    <p class="whitespace-pre-line">{{note.note}}</p>
                                    <div class="flex gap-2">
                                        <ng-icon (click)="onNoteForm('editCustomerNote',note.note,note._id)"
                                            class=" cursor-pointer hover:text-purple-600"
                                            name="heroPencilSquare"></ng-icon>
                                        <ng-icon (click)="onNoteDelete('customerNotes',note._id)"
                                            class=" cursor-pointer text-red-600 hover:text-red-900"
                                            name="heroTrash"></ng-icon>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <button (click)="onNoteForm('createCustomerNote')"
                                class="my-4  mt-4 bg-violet-700 px-3 py-2 text-white hover:bg-violet-600 rounded-md text-sm">+
                                Create Customer Note</button>
                        </td>
                    </ng-container>

                    <!-- Terms&Conditon Column -->
                    <ng-container matColumnDef="termsCondition">
                        <th *matHeaderCellDef
                            class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden w-3/5">
                            Terms & Conditons </th>
                        <td mat-cell *matCellDef="let element" class="align-top w-3/5">
                            <div *ngFor="let note of element.termsAndConditions">
                                <div class="flex justify-between items-center px-2">
                                    <p class="py-4  whitespace-pre-line">{{note.note}}</p>
                                    <div class="flex gap-2">
                                        <ng-icon (click)="onNoteForm('editTermsAndCondition',note.note,note._id)"
                                            class=" cursor-pointer hover:text-purple-600"
                                            name="heroPencilSquare"></ng-icon>
                                        <ng-icon (click)="onNoteDelete('termsAndConditions',note._id)"
                                            class=" cursor-pointer text-red-600 hover:text-red-900"
                                            name="heroTrash"></ng-icon>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <button (click)="onNoteForm('createTermsAndCondition')"
                                class="my-4 mt-4 bg-violet-700 px-3 py-2 text-white hover:bg-violet-600 rounded-md text-sm">+
                                Create Terms & Conditons</button>
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="cstcDisplayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: cstcDisplayedColumns;"></tr>
                </table>
                <app-skelton-loading *ngIf="isNotesLoading" [lineLength]="2"></app-skelton-loading>
            </div>
        </div>
    </div>

    <div class="w-full h-full bg-white p-10 m-2 rounded-md" *ngIf="categorySection">
        <div class="mb-3 flex justify-between">
            <div class="flex gap-1">
                <i><ng-icon name="heroTag" class="text-orange-400 text-lg mt-[1px]"></ng-icon></i>
                <p class="font-medium text-orange-400">Categories:</p>
            </div>
            <button class="bg-violet-700 px-3 py-2 text-white hover:bg-violet-600 rounded-md text-sm"
                (click)="createCategory()" *ngIf="!openCreateForm">+ Create
                Category</button>
        </div>
        <div>
            <div class="h-full h-max-80 overflow-hidden overflow-y-auto example border">
                <table mat-table [dataSource]="categoryDataSource" class="rounded-lg table-fixed">
                    <!-- slNo Column -->
                    <ng-container matColumnDef="slNo">
                        <th *matHeaderCellDef
                            class="bg-gray-100 px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                            No </th>
                        <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
                    </ng-container>

                    <!-- categoryName Column -->
                    <ng-container matColumnDef="categoryName">
                        <th *matHeaderCellDef
                            class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                            Category Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
                    </ng-container>

                    <!-- Role Column -->
                    <ng-container matColumnDef="role">
                        <th *matHeaderCellDef
                            class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                            Role </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.role | titlecase}}</td>
                    </ng-container>

                    <!-- Count Column -->
                    <ng-container matColumnDef="count">
                        <th *matHeaderCellDef
                            class="bg-gray-100  px-[20px] py-[16px] text-center text-dark  text-[15px] font-medium border-none before:hidden">
                            No. of Employees </th>
                        <td mat-cell *matCellDef="let element">
                            <p class="text-center"> {{element.employeeCount}}</p>
                        </td>
                    </ng-container>

                    <!-- action Column -->
                    <ng-container matColumnDef="action">
                        <th *matHeaderCellDef
                            class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                            Action </th>
                        <td mat-cell *matCellDef="let element; let i=index">
                            <ng-icon *ngIf="i != 0" class=" cursor-pointer hover:text-purple-600"
                                name="heroPencilSquare" (click)="editCategory(element,i)"></ng-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="categoryDisplayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: categoryDisplayedColumns;"></tr>
                </table>
                <app-skelton-loading *ngIf="isCategoryLoading" [lineLength]="2"></app-skelton-loading>
            </div>
        </div>
    </div>

</div>