<div class="bg-white m-6 rounded-2xl">
    <div class="  border-b p-3 px-9 flex justify-between items-center">
        <h3 class="text-md font-medium">Quote - NTQASOS-0204</h3>
        
        <button class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2.5 px-4 rounded text-sm"
        routerLink="/quotations/edit">
        <div class="flex justify-center items-center gap-2">
            <ng-icon  name="heroPencilSquare"></ng-icon>
            Edit
        </div>
    </button>
    </div>

    <div class="flex flex-col py-6 mx-auto w-full  text-gray-900 bg-white  px-9">

        <div class="w-full ">
            <div class="relative overflow-x-auto mt-6 w-full flex gap-6">
                <table class="w-full text-md text-left rtl:text-right text-black border bg-gray-50">
                    <tbody>
                        <tr class=" border-b ">
                            <td class="px-2 py-2  border text-left font-medium ">
                                Client
                            </td>
                            <td class="px-2 py-2 border text-start ">
                                Company1
                            </td>
                            <td class="px-2 py-2  border text-start font-medium ">
                                Date
                            </td>
                            <td class="px-2 py-2 border text-start uppercase">
                                23-02-2023
                            </td>
                        </tr>
                        <tr class=" border-b ">
                            <td class="px-2 py-2  border text-start font-medium ">
                                Attention
                            </td>
                            <td class="px-2 py-2 border text-start ">
                                Contact1
                            </td>
                            <td class="px-2 py-2  border text-start font-medium ">
                                Quote Ref Id
                            </td>
                            <td class="px-2 py-2 border text-start uppercase">
                                NTQASOS-0204
                            </td>
                        </tr>
                        <tr class=" border-b ">
                            <td class="px-2 py-2  border text-start font-medium ">
                                Subject
                            </td>
                            <td class="px-2 py-2 border text-start ">
                                Proposal for ...
                            </td>
                            <td class="px-2 py-2  border text-start font-medium ">
                                Sales Person
                            </td>
                            <td class="px-2 py-2 border text-start ">
                                Sales1
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
                </div>

        </div>
        <div class="relative overflow-x-auto mt-6">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 border">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50  ">
                    <tr>
                        <th scope="col" class="px-6 py-3 w-96 border">
                            Item Details
                        </th>
                        <th scope="col" class="px-6 py-3 border">
                            Quantity
                        </th>
                        <th scope="col" class="px-6 py-3 border">
                            Unit cost
                        </th>
                        <th scope="col" class="px-6 py-3 border">
                            Total Cost
                        </th>
                        <th scope="col" class="px-6 py-3 border">
                            Unit price
                        </th>
                        <th scope="col" class="px-6 py-3 border">
                            total price
                        </th>
                        <th scope="col" class="px-6 py-3 border">
                            Availability
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b ">
                        <th scope="row" class="px-6 border font-normal py-2">
                            item Details.....................................................<br>
                            item Details.....................................................<br>
                            item Details.....................................................<br>
                            item Details.....................................................<br>
                        </th>
                        <td class="px-2  border text-center">
                            01
                        </td>
                        <td class="px-2 py-2 border text-center">
                           Ea
                        </td>
                        <td class=" py-2  text-center ">
                            95%
                        </td>
                        <td class="px-2 py-2 border text-center">
                            100.00
                        </td>
                        <td class="px-2 py-2 border text-center">
                            120.00
                        </td>
                        <td class="px-2 py-2 border text-center">
                            02
                        </td>
                    </tr>
                    <tr class="bg-white border-b ">
                        <th scope="row" class="px-6 border font-normal py-2">
                            item Details.....................................................<br>
                            item Details.....................................................<br>
                            item Details.....................................................<br>
                            item Details.....................................................<br>
                        </th>
                        <td class="px-2  border text-center">
                            01
                        </td>
                        <td class="px-2 py-2 border text-center">
                           Ea
                        </td>
                        <td class=" py-2  text-center ">
                            95%
                        </td>
                        <td class="px-2 py-2 border text-center">
                            100.00
                        </td>
                        <td class="px-2 py-2 border text-center">
                            120.00
                        </td>
                        <td class="px-2 py-2 border text-center">
                            02
                        </td>
                    </tr>
                    <tr class="bg-white border-b ">
                        <th scope="row" class="px-6 border font-normal py-2">
                            item Details.....................................................<br>
                            item Details.....................................................<br>
                            item Details.....................................................<br>
                            item Details.....................................................<br>
                        </th>
                        <td class="px-2  border text-center">
                            01
                        </td>
                        <td class="px-2 py-2 border text-center">
                           Ea
                        </td>
                        <td class=" py-2  text-center ">
                            95%
                        </td>
                        <td class="px-2 py-2 border text-center">
                            100.00
                        </td>
                        <td class="px-2 py-2 border text-center">
                            120.00
                        </td>
                        <td class="px-2 py-2 border text-center">
                            02
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <div class="flex flex-wrap -mx-3 mt-6">
            <div class="w-full md:w-2/5 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2 "
                    for="grid-last-name">
                    Customer Notes
                </label>
                <p class="w-full truncate">Customer Note.....................................................<br>...............................................................................................<br>...............................................................................................<br>...............................................................................................<br>..........................................</p>
                
            </div>
            <div class="w-full md:w-3/5 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-md font-bold mb-2"
                    for="grid-last-name">
                    Terms and Conditions
                </label>
                <p class="w-full truncate">Terms and Conditions.....................................................<br>...............................................................................................<br>...............................................................................................<br>...............................................................................................<br>..........................................</p>

            </div>

        </div>

        <div class="relative overflow-x-auto mt-6 w-full flex gap-6">
            <table class="w-1/2 text-sm text-left rtl:text-right text-black border bg-gray-50">
                <tbody>
                    <tr class=" border-b ">
                        <td class="px-2 py-3  border text-center font-medium text-xl ">
                            Total Cost
                        </td>
                        <td class="px-2 py-2 border text-center uppercase text-xl">
                            65,984.00
                        </td>
                    </tr>
                    <tr class=" border-b ">
                        <td class="px-2 py-3  border text-center font-medium text-xl ">
                            Total Selling price
                        </td>
                        <td class="px-2 py-2 border text-center uppercase text-xl">
                            65,984.00
                        </td>
                    </tr>
                    <tr class=" border-b ">
                        <td class="px-2 py-3  border text-center font-medium text-xl ">
                            Profit margin with %
                        </td>
                        <td class="px-2 py-2 border text-center uppercase text-xl">
                            65,984.00
                        </td>
                    </tr>
                    
                </tbody>
            </table>
            <table class="w-1/2  text-sm text-left rtl:text-right text-black border bg-gray-100">
                <tbody>
                    <tr class=" border-b ">
                        <td class="px-2 py-3  border text-center font-medium text-xl ">
                            Subtotal
                        </td>
                        <td class="px-2 py-2 border text-center uppercase text-xl">
                            65,984.00
                        </td>
                    </tr>
                    <tr class=" border-b ">
                        <td class="px-2 py-3  border text-center font-medium text-xl ">
                            Discount
                        </td>
                        <td class="px-2 py-2 border text-center uppercase text-xl">
                            65,984.00
                        </td>
                    </tr>
                    <tr class=" border-b ">
                        <td class="px-2 py-3  border text-center font-medium text-xl ">
                            Total Amount
                        </td>
                        <td class="px-2 py-2 border text-center uppercase text-xl">
                            65,984.00
                        </td>
                    </tr>
                    
                </tbody>
            </table>
            </div>
    </div>
    

    <div class=" border-t py-6 px-9 flex justify-end gap-2 ">
        <div class="flex w-80">
            <button class="bg-orange-500 hover:bg-orange-600 text-white font-medium py-2 px-4 rounded text-sm  mr-3 w-full">
                Preview
            </button>
            <button class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2 px-4 rounded text-sm w-full">
                Download (PDF)
            </button>
        </div>
        
    </div>
</div>