:host{
    display: block;
}

.dropDown{
    position: absolute;
    background-color: white;
    margin-top: -50px;
    margin-left: 55px;
    padding: 10px 0px 10px 0px;
}

.active {
    background: #e5e7eb;
    transform: scale(1.05);
    border: none;
    border-radius: 0.375rem;
  }