<div class="bg-white m-6">
    <div class="text-lg font-medium p-4 border-b border-b-gray-300 px-8">

        <div class="flex flex-col md:flex-row items-center justify-between md:items-end gap-3">
            <h3>Quotations</h3>

            <div class="flex justify-end gap-4 items-center">

                <div class="flex items-center cursor-pointer border border-gray/60 rounded-[6px] px-[20px] py-1"
                    [matMenuTriggerFor]="beforeMenu" mat-button>
                    <ng-icon name="heroAdjustmentsHorizontal"></ng-icon>
                    <p class="mx-2 text-sm">Filter By</p>
                    <div class="mt-1">
                        <ng-icon name="heroChevronDown"></ng-icon>
                    </div>
                </div>
                <mat-menu #beforeMenu="matMenu" class="mt-2 h-auto  w-96">
                    <div class="p-4" (click)="handleNotClose($event)">
                        <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                            <div class="flex justify-between items-center mb-2">
                                <label for="fromDate" class="font-medium"> From:</label>
                                <input dateFutureDirective type="date" id="fromDate" formControlName="fromDate"
                                    class="h-10 inline-flex items-center text-body bg-white border border-gray/60 rounded-[6px] px-[20px]"
                                    required="true">
                            </div>
                            <div class="text-orange-500 text-sm"
                                *ngIf="formData.get('fromDate')?.hasError('futureDate')">
                                Please choose a date on or before today's date.
                            </div>
                            <div class="flex justify-between  items-center">
                                <label for="toDate" class="font-medium"> To:</label>
                                <input dateFutureDirective type="date" id="toDate" formControlName="toDate"
                                    class="h-10 inline-flex items-center text-body bg-white border border-gray/60 rounded-[6px] px-[20px]"
                                    required="true">
                            </div>
                            <div class="text-orange-500 text-sm" *ngIf="formData.get('toDate')?.hasError('futureDate')">
                                Please choose a date on or before today's date.
                            </div>
                            <button
                                class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2 px-4 rounded text-sm w-full my-3">
                                Submit
                            </button>
                        </form>
                        <div class="mb-2">
                            <label for="salesPerson" class="font-medium">Sales Person:</label>
                            <ng-select id="salesPerson" [(ngModel)]="selectedSalesPerson" class=" filter"
                                placeholder="Sales Person" appendTo="body" (change)="onfilterApplied()">
                                <ng-option *ngFor="let person of salesPerson$ | async"
                                    [value]="person._id">{{person.firstName+' '+person.lastName}}</ng-option>
                            </ng-select>
                        </div>
                        <div class="mb-2">
                            <label for="customer" class="font-medium">Customer:</label>
                            <ng-select id="customer" [(ngModel)]="selectedCustomer" class=" filter"
                                placeholder="Sales Person" appendTo="body" (change)="onfilterApplied()">
                                <ng-option *ngFor="let customer of customers$ | async"
                                    [value]="customer._id">{{customer.companyName}}</ng-option>
                            </ng-select>
                        </div>
                        <div class="mb-2">
                            <label for="department" class="font-medium">Department:</label>
                            <ng-select dropdownPosition="top" id="department" [(ngModel)]="selectedDepartment"
                                class=" filter" placeholder="Department" appendTo="body" (change)="onfilterApplied()">
                                <ng-option *ngFor="let department of departments$ | async"
                                    [value]="department._id">{{department.departmentName}}</ng-option>
                            </ng-select>
                        </div>
                        <button *ngIf="isFiltered"
                            class="w-full bg-orange-500 hover:bg-orange-00 text-white font-medium py-2.5 px-4 rounded text-xs"
                            (click)="onClear()">
                            x Clear All Filter
                        </button>
                    </div>
                </mat-menu>

                <button class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2.5 px-4 rounded text-sm"
                    routerLink="/quotations/create">
                    + Create Quote
                </button>
            </div>

        </div>
    </div>

    <app-skelton-loading *ngIf="isLoading" [lineLength]="4"></app-skelton-loading>

    <div class="m-8  overflow-y-auto">
        <div *ngIf="isEmpty && !isLoading" class="w-full flex justify-center items-center pb-8">
            <div class="p-3">
                <img src="assets/images/empty.png" alt="">
                <p class="m-2 text-center text-gray-500">No Data</p>
            </div>
        </div>
        <table *ngIf="!isLoading && !isEmpty" mat-table [dataSource]="dataSource" class="rounded-lg table-fixed">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="slNo">
                <th *matHeaderCellDef
                    class="bg-gray-100  px-[12px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                    Sl No. </th>
                <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="date">
                <th *matHeaderCellDef
                    class="bg-gray-100  px-[12px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden min-w-[116px]">
                    Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date | date:'dd/MM/yyyy'}} </td>
            </ng-container>

            <!-- Creator Column -->
            <ng-container matColumnDef="quoteId">
                <th *matHeaderCellDef
                    class="bg-gray-100  px-[12px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                    Quote Id </th>
                <td mat-cell *matCellDef="let element"> <a (click)="onQuote(element)"
                        class="underline text-purple-600 cursor-pointer">{{element.quoteId}}</a> </td>
            </ng-container>

            <!-- Department Column -->
            <ng-container matColumnDef="customerName">
                <th *matHeaderCellDef
                    class="bg-gray-100  px-[12px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                    Customer Name </th>
                <td mat-cell *matCellDef="let element"> {{element.client.companyName}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th *matHeaderCellDef
                    class="bg-gray-100  px-[12px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                    Description </th>
                <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
            </ng-container>

            <ng-container matColumnDef="salesPerson">
                <th *matHeaderCellDef
                    class="bg-gray-100  px-[12px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                    Sales Person </th>
                <td mat-cell *matCellDef="let element"> {{element.createdBy.firstName+' '+element.createdBy.lastName}}
                </td>
            </ng-container>

            <ng-container matColumnDef="department">
                <th *matHeaderCellDef
                    class="bg-gray-100  px-[12px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                    Department </th>
                <td mat-cell *matCellDef="let element"> {{element.department.departmentName}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th *matHeaderCellDef
                    class="bg-gray-100 text-center  px-[4px] py-[16px]  text-dark  text-[15px] font-medium border-none before:hidden">
                    Status </th>
                <td mat-cell *matCellDef="let element;let i= index" class="">
                    <div (click)="onStatus(element.status)" *ngIf="element.status !== 'Won' && element.status !== 'Lost'" class="flex items-center cursor-pointer border border-gray/60 rounded-[6px] px-[14px] py-1 max-w-fit"
                        [matMenuTriggerFor]="beforeMenu" mat-button>
                        <p class="mx-2 text-sm whitespace-nowrap">{{element.status}}</p>
                        <div class="mt-1">
                            <ng-icon name="heroChevronDown"></ng-icon>
                        </div>
                    </div>
                    <mat-menu #beforeMenu="matMenu" class="mt-2 h-auto  ">
                        <div class="" >
                            <div  *ngFor="let status of quoteStatuses">
                            <p  class="p-2 hover:bg-violet-200 cursor-pointer" *ngIf="status !== element.status" (click)="updateStatus(i,element._id,status)">
                                {{status}}</p>
                            </div>
                            
                        </div>
                    </mat-menu>
                    <div class="w-full flex justify-center items-center">
                        <p *ngIf="element.status === 'Won'"
                            class="w-fit text-center bg-green-100 rounded-full px-5 text-green-600  py-1">
                            {{element.status}}</p>
                        <p *ngIf="element.status === 'Lost'"
                            class="w-fit text-center bg-red-100 rounded-full px-5 text-red-600  py-1">
                            {{element.status}}</p>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th *matHeaderCellDef
                    class="bg-gray-100  px-[12px] py-[16px] text-center  text-dark  text-[15px] font-medium border-none before:hidden">
                    Action </th>
                <td mat-cell *matCellDef="let element;" class="">
                    <div class="flex justify-end items-center gap-2">
                        <div (click)="onClickLpo(element)" *ngIf="element.status == 'Won' && !element.lpoSubmitted "
                            class="cursor-pointer text-center flex justify-center items-center gap-2 px-2 py-2 bg-violet-700 hover:bg-violet-600 text-white text-sm rounded-full font-medium">
                            <ng-icon name="heroDocumentArrowUp"></ng-icon>
                        </div>
                        <div (click)="onQuoteEdit(element)"
                            class="cursor-pointer text-center flex justify-center items-center gap-2 px-2 py-2 border border-gray/60  text-sm rounded-full  font-medium hover:bg-gray-200">
                            <ng-icon name="heroPencilSquare"></ng-icon>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="w-full bg-white" *ngIf="!isEmpty && !isLoading">
            <app-pagination [page]="page" [row]="row" [total]="total"
                (changeData)="onPageNumberClick($event)"></app-pagination>
        </div>
    </div>
    <div>
    </div>

</div>