<div class="bg-white mx-5 mt-5 rounded-2x max-h-[calc(100vh-65px)]">
    <div class="text-lg font-medium p-4 border-b border-b-gray-300 px-8">
        <div class="flex flex-col md:flex-row items-center justify-between md:items-end gap-3">
            <h3 class="font-semibold">Enquiries</h3>

            <div class="flex justify-end gap-4">
                <div class="flex items-center cursor-pointer border border-gray/60 rounded-[6px] px-[20px]"
                    [matMenuTriggerFor]="filterMenu" mat-button>
                    <ng-icon name="heroAdjustmentsHorizontal"></ng-icon>
                    <p class="mx-2 text-sm">Filter By</p>
                    <div class="mt-1">
                        <ng-icon name="heroChevronDown"></ng-icon>
                    </div>
                </div>
                <mat-menu #filterMenu="matMenu" class="mt-2 h-auto w-96">

                    <div class="p-4" (click)="handleNotClose($event)">
                        <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                            <div class="flex justify-between items-center mb-2">
                                <label for="fromDate" class="font-medium"> From:</label>
                                <input dateFutureDirective type="date" id="fromDate" formControlName="fromDate"
                                    class="h-10 inline-flex items-center text-body bg-white border border-gray/60 rounded-[6px] px-[20px]"
                                    required="true">
                            </div>
                            <div class="text-orange-500 text-sm"
                                *ngIf="formData.get('fromDate')?.hasError('futureDate')">
                                Please choose a date on or before today's date.
                            </div>
                            <div class="flex justify-between  items-center">
                                <label for="toDate" class="font-medium"> To:</label>
                                <input dateFutureDirective type="date" id="toDate" formControlName="toDate"
                                    class="h-10 inline-flex items-center text-body bg-white border border-gray/60 rounded-[6px] px-[20px]"
                                    required="true">
                            </div>
                            <div class="text-orange-500 text-sm" *ngIf="formData.get('toDate')?.hasError('futureDate')">
                                Please choose a date on or before today's date.
                            </div>
                            <button
                                class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2 px-4 rounded text-sm w-full my-3">
                                Submit
                            </button>
                        </form>
                        <div class="mb-2">
                            <label for="salesPerson" class="font-medium"> Sales Person:</label>
                            <ng-select appNoLeadingSpace id="salesPerson" [(ngModel)]="selectedSalesPerson"
                                class=" filter" placeholder="Sales Person" appendTo="body" (change)="onfilterApplied()">
                                <ng-option *ngFor="let person of salesPerson$ | async"
                                    [value]="person._id">{{person.firstName}} {{person.lastName}}</ng-option>
                            </ng-select>
                        </div>
                        <div class="mb-2">
                            <label for="salesPerson" class="font-medium"> Status:</label>
                            <ng-select appNoLeadingSpace [(ngModel)]="selectedStatus" class=" filter"
                                placeholder="Status" appendTo="body" (change)="onfilterApplied()">
                                <ng-option *ngFor="let customer of status"
                                    [value]="customer.name">{{customer.name}}</ng-option>
                            </ng-select>
                        </div>
                        <button *ngIf="isFiltered"
                            class="w-full bg-orange-500 hover:bg-orange-00 text-white font-medium py-2.5 px-4 rounded text-xs"
                            (click)="onClear()">
                            x Clear All Filter
                        </button>
                    </div>

                </mat-menu>
                <button *ngIf="createEnquiry"
                    class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2.5 px-4 rounded text-sm"
                    (click)="openDialog()">
                    + Create Enquiry
                </button>
            </div>
        </div>
    </div>
    <p class="text-right text-xs text-violet-600 -mb-2 pt-2 mr-8">*To quote enquiry click on the row of the enquiry</p>


    <app-skelton-loading *ngIf="isLoading && !isEmpty" [lineLength]="4"></app-skelton-loading>
    <div class="mx-8 mb-8 mt-4 overflow-y-auto overflow-x-auto">
        <section class="mat-elevation-z8 h-fit max-h-[57vh] overflow-auto" tabindex="0">
            <table mat-table *ngIf="!isLoading || isEmpty" [dataSource]="dataSource" class="rounded-lg table-fixed">
                <ng-container matColumnDef="enquiryId">
                    <th *matHeaderCellDef
                        class="bg-gray-100 px-[20px] py-[16px] text-start text-dark text-[15px] font-medium border-none before:hidden">
                        Enquiry ID </th>
                    <td mat-cell *matCellDef="let element">
                        <p class="text-purple-600 font-medium">{{element.enquiryId}}</p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="customerName">
                    <th *matHeaderCellDef
                        class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                        Customer Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.client.companyName}}</td>
                </ng-container>

                <ng-container matColumnDef="enquiryDescription">
                    <th *matHeaderCellDef
                        class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                        Enquiry Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>

                <ng-container matColumnDef="salesPersonName">
                    <th *matHeaderCellDef
                        class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                        Sales Person </th>
                    <td mat-cell *matCellDef="let element"> {{element.salesPerson.firstName}}
                        {{element.salesPerson.lastName}}</td>
                </ng-container>

                <ng-container matColumnDef="department">
                    <th *matHeaderCellDef
                        class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                        Department </th>
                    <td mat-cell *matCellDef="let element"> {{element.department.departmentName}} </td>
                </ng-container>

                <ng-container matColumnDef="attachedFiles">
                    <th *matHeaderCellDef
                        class="bg-gray-100 px-[20px] py-[16px] text-start text-dark text-[15px] font-medium border-none before:hidden ">
                        Attached Files </th>
                    <td mat-cell *matCellDef="let element" class="hover:bg-white" (click)="preventClick($event)">
                        <div *ngIf="element.attachments.length == 0, else elseBlock">
                            <p class="text-red-500">No Files Attached</p>
                        </div>
                        <ng-template #elseBlock>
                            <div *ngFor="let file of element.attachments">
                                <p class="w-32 truncate ... hover:text-violet-600" matTooltip="Download File" (click)="onDownloadClicks(file)"
                                matTooltipPosition="right" matTooltipClass="mat-tooltip">{{file.originalname}}</p>
                            </div>
                        </ng-template>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th *matHeaderCellDef
                        class="bg-gray-100 px-[20px] py-[16px] text-start text-dark text-[15px] font-medium border-none before:hidden">
                        Status </th>
                    <td mat-cell *matCellDef="let element">
                        <div [ngSwitch]="element.status">
                            <p class="w-fit bg-orange-100 rounded-full px-2 text-orange-600 whitespace-nowrap"
                                *ngSwitchCase="'Work In Progress'">{{element.status}}</p>
                            <p class="w-fit bg-red-100 rounded-full px-2 text-red-600 whitespace-nowrap"
                                *ngSwitchCase="'Assigned To Presales'">{{element.status}}</p>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th *matHeaderCellDef
                        class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                        Presales </th>
                    <td mat-cell *matCellDef="let element;let i=index" class="hover:bg-white" (click)="preventClick($event)">
                        <button type="button"
                            *ngIf="element.preSale && element.preSale.presalePerson && element.status !== 'Assigned To Presales'"
                            (click)="onViewPresale($event,i,element)"
                            class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2 px-2 rounded text-sm whitespace-nowrap">View Presale</button>
                        <button type="button" *ngIf="!element.preSale" (click)="onAssignPresale($event,element._id,i)"
                            class="bg-orange-500 hover:bg-orange-400 text-white font-medium p-2 rounded text-sm whitespace-nowrap ">Assign
                            to Presale</button>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns; let i= index"
                    class="cursor-pointer hover:bg-gray-100" (click)="onRowClicks(i)"></tr>
            </table>
        </section>
        <div class="w-full bg-white" *ngIf="!isEmpty">
            <app-pagination [page]="page" [row]="row" [total]="total"
                (changeData)="onPageNumberClick($event)"></app-pagination>
        </div>

    </div>
    <div *ngIf="isEmpty" class="w-full flex justify-center items-center">
        <div class="p-3">
            <img src="assets/images/empty.png" alt="">
            <p class="m-2 text-center text-gray-500">No Data</p>
        </div>
    </div>
</div>