<div class="bg-white m-6 rounded-2xl">
    <div class="text-lg font-medium p-4 border-b border-b-gray-300 px-8">

        <div class="flex flex-col md:flex-row items-center justify-between md:items-end gap-3">
            <h3>Enquiry Details</h3>

            <div class="flex justify-end gap-4">

                <div class="flex items-center cursor-pointer border border-gray/60 rounded-[6px] px-[20px]"
                    [matMenuTriggerFor]="beforeMenu" mat-button>
                    <ng-icon name="heroAdjustmentsHorizontal"></ng-icon>
                    <p class="mx-2 text-sm">Filter By</p>
                    <div class="mt-1">
                        <ng-icon name="heroChevronDown"></ng-icon>
                    </div>
                </div>
                <mat-menu #beforeMenu="matMenu" class="mt-2 h-auto w-96">

                    <div class="p-4" (click)="handleNotClose($event)">
                        <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                            <div class="flex justify-between items-center mb-2">
                                <label for="fromDate" class="font-medium"> From:</label>
                                <input dateFutureDirective type="date" id="fromDate" formControlName="fromDate"
                                    class="h-10 inline-flex items-center text-body bg-white border border-gray/60 rounded-[6px] px-[20px]">
                            </div>
                            <div class="text-orange-500 text-sm"
                                *ngIf="formData.get('fromDate')?.hasError('futureDate')">
                                Please choose a date on or before today's date.
                            </div>
                            <div class="flex justify-between  items-center">
                                <label for="toDate" class="font-medium"> To:</label>
                                <input dateFutureDirective type="date" id="toDate" formControlName="toDate"
                                    class="h-10 inline-flex items-center text-body bg-white border border-gray/60 rounded-[6px] px-[20px]">
                            </div>
                            <div class="text-orange-500 text-sm" *ngIf="formData.get('toDate')?.hasError('futureDate')">
                                Please choose a date on or before today's date.
                            </div>
                            <button
                                class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2 px-4 rounded text-sm w-full my-3">
                                Submit
                            </button>
                        </form>
                        <div class="mb-2">
                            <label for="salesPerson" class="font-medium"> Sales Person:</label>
                            <ng-select appNoLeadingSpace id="salesPerson" [(ngModel)]="selectedSalesPerson"
                                class=" filter" placeholder="Sales Person" appendTo="body" (change)="onfilterApplied()">
                                <ng-option *ngFor="let person of salesPerson$ | async"
                                    [value]="person._id">{{person.firstName}} {{person.lastName}}</ng-option>
                            </ng-select>
                        </div>
                        <div>
                            <label for="salesPerson" class="font-medium"> Status:</label>
                            <ng-select appNoLeadingSpace [(ngModel)]="selectedStatus" class=" filter"
                                placeholder="Status" appendTo="body" (change)="onfilterApplied()">
                                <ng-option *ngFor="let customer of status"
                                    [value]="customer.name">{{customer.name}}</ng-option>
                            </ng-select>
                        </div>
                    </div>

                </mat-menu>
                <button class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2.5 px-4 rounded text-sm"
                    (click)="openDialog()">
                    + Create Enquiry
                </button>
            </div>

        </div>
    </div>
    <div class="m-8  overflow-y-auto">
        <app-skelton-loading *ngIf="isLoading" [lineLength]="4"></app-skelton-loading>
        <table mat-table *ngIf="!isLoading" [dataSource]="dataSource" class="rounded-lg table-fixed">
            <ng-container matColumnDef="enquiryId">
                <th *matHeaderCellDef
                    class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                    Enquiry ID </th>
                <td mat-cell *matCellDef="let element">
                    {{element.enquiryId}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="customerName">
                <th *matHeaderCellDef
                    class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                    Customer Name </th>
                <td mat-cell *matCellDef="let element"> {{element.client.companyName}}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="enquiryDescription">
                <th *matHeaderCellDef
                    class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                    Enquiry Description </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="salesPersonName">
                <th *matHeaderCellDef
                    class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                    Sales Person Name </th>
                <td mat-cell *matCellDef="let element"> {{element.salesPerson.firstName}}
                    {{element.salesPerson.lastName}}</td>
            </ng-container>

            <ng-container matColumnDef="department">
                <th *matHeaderCellDef
                    class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                    Department </th>
                <td mat-cell *matCellDef="let element"> {{element.department.departmentName}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th *matHeaderCellDef
                    class="bg-gray-100 px-[20px] py-[16px] text-start text-dark text-[15px] font-medium border-none before:hidden">
                    Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let i= index"
                class="cursor-pointer hover:bg-gray-100" (click)="onRowClicks(i)"></tr>
        </table>


    </div>
    <div>

    </div>
</div>