<div class="w-[700px] h-[98vh]  bg-gray-50 rounded-lg shadow-lg overflow-hidden">
  <!-- Header Bar -->
  <div class=" top-0 left-0 right-0 bg-gray-100 flex justify-between items-center p-4 border-b">
    <h3 class="text-lg font-semibold text-gray-700">Quotation Preview</h3>
    <div class="flex items-center space-x-4">
      <!-- Toggle Switch -->
      <label class="flex items-center cursor-pointer">
        <span class="mr-2 text-gray-700">Include Stamp:</span>
        <input type="checkbox" [(ngModel)]="includeStamp" class="hidden" id="toggle-stamp" (ngModelChange)="previewQuote()"/>
        <div class="w-12 h-6 bg-gray-300 rounded-full p-1 flex items-center transition-all"
          [class.bg-violet-600]="includeStamp">
          <div class="w-4 h-4 bg-white rounded-full shadow transform transition-transform"
            [class.translate-x-6]="includeStamp">
          </div>
        </div>
      </label>
    </div>
  </div>

  <!-- PDF Viewer -->
  <div class="w-full" >
    <ngx-extended-pdf-viewer [src]="url"></ngx-extended-pdf-viewer>
  </div>
</div>