
<div class="  border border-white border-b-gray-300 p-3 px-6 flex justify-between">
    <h3 class="text-md font-medium">Company Details
    </h3>
    <button class="bg-gray-200 rounded-lg p-1 text-center flex items-center justify-center" (click)="onClose()">
      <ng-icon name="heroXMark" class="text-md p-0 m-0"></ng-icon>
    </button>
  </div>
  
  <form [formGroup]="companyDetailsForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col p-6 mx-auto max-w-3xl  text-gray-900 bg-white rounded-lg  shadow px-9">
      <div class="w-full max-w-6xl">
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/1 px-3  mb-6">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="companyName">
              Company Name
            </label>
            <input formControlName="companyName" id="companyName" appNoLeadingSpace
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              type="text" placeholder="Enter the company name here.">
            <div class="text-red-700 text-xs mt-1 absolute mb-1"
              *ngIf="companyDetailsForm.get('companyName')?.hasError('required') && companyDetailsForm.get('companyName')?.touched">
              This field is Required
            </div>
          </div>
          <div class="w-full md:w-1/1 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="description">
              Description
            </label>
            <textarea formControlName="description" id="description" appNoLeadingSpace
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              placeholder="Enter the company description here." rows="4"></textarea>
            <div class="text-red-700 text-xs mt-1 absolute mb-1"
              *ngIf="companyDetailsForm.get('description')?.hasError('required') && companyDetailsForm.get('description')?.touched">
              This field is Required
            </div>
          </div>
          
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3 mb-6">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="street">
              Street
            </label>
            <input formControlName="street" for="street" appNoLeadingSpace
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              type="text" >
            <div class="text-red-700 text-xs mt-1 absolute mb-1"
              *ngIf="companyDetailsForm.get('street')?.hasError('required') && companyDetailsForm.get('street')?.touched">
              This field is Required
            </div>
           
  
          </div>
          <div class="w-full md:w-1/2 px-3 mb-6">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="area">
              Area
            </label>
            <input formControlName="area" id="area" appNoLeadingSpace
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              type="text" >
            <div class="text-red-700 text-xs mt-1 absolute mb-1"
              *ngIf="companyDetailsForm.get('area')?.hasError('required') && companyDetailsForm.get('area')?.touched">
              This field is Required
            </div>
          </div>

          <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="city">
             City
            </label>
            <input formControlName="city" id="city" appNoLeadingSpace
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              type="text" >
            <div class="text-red-700 text-xs mt-1 absolute mb-1"
              *ngIf="companyDetailsForm.get('city')?.hasError('required') && companyDetailsForm.get('city')?.touched">
              This field is Required
            </div>
          </div>
         

          <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="country">
              Country
            </label>
            <input formControlName="country" id="country" appNoLeadingSpace
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              type="text" p>
            <div class="text-red-700 text-xs mt-1 absolute mb-1"
              *ngIf="companyDetailsForm.get('country')?.hasError('required') && companyDetailsForm.get('country')?.touched">
              This field is Required
            </div>
          </div>
        </div>
       
        
        

       
      </div>
    </div>
  
  
    <div class="  border border-white border-t-gray-300 p-3 px-6 flex justify-end gap-2">
      <button (click)="onClose()"
        class="bg-violet-200 hover:bg-violet-300 text-black font-medium py-2 px-4 rounded text-sm">
        Cancel
      </button>
      <button type="submit"
      
        class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2 px-4 rounded text-sm  flex justify-center items-center gap-2 disabled:bg-violet-400 disabled:cursor-not-allowed">
        <ng-icon *ngIf="isSaving" class="spin" name="heroArrowPath"></ng-icon>
  
        Update
      </button>
    </div>
  </form>