<div class="bg-white m-6 rounded-2xl">
    <div class="text-lg font-medium p-4 border-b border-b-gray-300 px-8">

        <div class="flex flex-col md:flex-row items-center justify-between md:items-end gap-3">
            <h3>Customers Details</h3>

            <div class="flex justify-end gap-4 items-center">
                <p class="text-sm">Created By : </p>
                
                <div
                    class="h-10 inline-flex items-center text-body dark:text-white/60 bg-white border border-gray/60 rounded-[6px] px-[20px]">
                    <select class="bg-transparent border-none text-[15px] shadow-none text-gray-600 flex items-center focus:outline-none custom-select" id="grid-state">
                        <option value="" [defaultSelected]="" hidden>Created By</option>
                        <option class="px-10">Mhd Shamil</option>
                      </select>
                </div>
                <button class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2.5 px-4 rounded text-sm"
                   routerLink="/customers/create">
                    + Create Customer
                </button>
            </div>

        </div>
    </div>

    <app-skelton-loading *ngIf="isLoading"></app-skelton-loading>
    
    <div class="m-8  overflow-y-auto">

        <table *ngIf="!isLoading" mat-table [dataSource]="dataSource" class="rounded-lg table-fixed">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th *matHeaderCellDef
                    class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                    No </th>
                <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th *matHeaderCellDef
                    class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                    Customer Name </th>
                <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
            </ng-container>

            <!-- Creator Column -->
            <ng-container matColumnDef="createdBy">
                <th *matHeaderCellDef
                    class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                    Created by </th>
                <td mat-cell *matCellDef="let element"> {{element.creator}} </td>
            </ng-container>

            <!-- Department Column -->
            <ng-container matColumnDef="department">
                <th *matHeaderCellDef
                    class="bg-gray-100  px-[20px] py-[16px] text-start text-dark  text-[15px] font-medium border-none before:hidden">
                    Department </th>
                <td mat-cell *matCellDef="let element"> {{element.department.departmentName}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div>

    </div>
</div>