<div class="flex items-center justify-center  bg-opacity-50   max-h-[95vh]">
  <!-- Modal Container -->
  <div class="bg-white rounded-lg shadow-xl w-full  p-6">
    <!-- Modal Header -->
    <div class="flex justify-between items-center border-b pb-3 mb-4">
      <h2 class="text-xl font-semibold text-gray-800">Estimations</h2>
      <button class="text-gray-500 hover:text-gray-700 focus:outline-none" (click)="closeModal()">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <!-- Modal Content -->
        <div  class="overflow-y-scroll max-h-[77vh] pr-2">
          <div class="relative overflow-x-auto my-6">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 border">
                <thead class="text-xs text-gray-700 uppercase bg-violet-50  ">
                    <tr>
                        <th scope="col" resizable class=" w-96 border-l border-r border-t hover:border-r-slate-950"
                            key="itemDetail">
                            <div class="px-6 py-3">Item Details</div>

                        </th>
                        <th scope="col" resizable key="qty"
                            class=" border-l border-r border-t hover:border-r-slate-950  text-center min-w-[66px]">
                            <div class="px-2 py-3">QTY</div>
                        </th>
                        <th scope="col" resizable key="unitCost"
                            class="border-l border-r border-t hover:border-r-slate-950  text-center">
                            <div class="px-6 py-3">Unit Cost ({{data.preSale.estimations.currency}})</div>
                        </th>
                        <th scope="col" resizable key="totalCost"
                            class="border-l border-r border-t hover:border-r-slate-950  text-center">
                            <div class="px-6 py-3">Total Cost ({{data.preSale.estimations.currency}})</div>
                        </th>
                        <th scope="col" resizable key="profit"
                            class="border-l border-r border-t hover:border-r-slate-950  text-center">
                            <div class="px-6 py-3">Profit</div>
                        </th>
                        <th scope="col" resizable key="unitPrice"
                            class="border-l border-r border-t hover:border-r-slate-950  text-center">
                            <div class="px-6 py-3">Unit Price ({{data.preSale.estimations.currency}})</div>
                        </th>
                        <th scope="col" resizable key="totalPrice"
                            class="border-l border-r border-t hover:border-r-slate-950  text-center">
                            <div class="px-6 py-3">Total Price ({{data.preSale.estimations.currency}})</div>
                        </th>
                        <th scope="col" resizable key="avbl"
                            class="border-l border-r border-t hover:border-r-slate-950  text-center min-w-[90px]">
                            <div class="px-2 py-3">AVBL.</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of data.preSale.estimations?.items">
                        <tr>
                            <td colspan="9" class="border px-6 py-2 bg-gray-50 ">
                                <div class="flex justify-center items-center text-md text-black font-medium uppercase">
                                    {{item.itemName}}
                                </div>
                            </td>
                        </tr>
                        <ng-container *ngFor="let itemsDetail of item.itemDetails">
                            <tr class="bg-white border-b text-gray-800">
                                <th scope="row" class="px-6 border font-normal py-2 whitespace-pre-line">
                                    <div [innerHTML]="itemsDetail.detail | parseBracketsText | parseBoldText"></div>
                                </th>
    
    
    
    
    
                                <td class="px-2  border text-center">
                                    {{itemsDetail.quantity}}
                                </td>
                                <td class="px-2 py-2 border text-center">
                                    {{itemsDetail.unitCost.toFixed(2)}}
                                </td>
                                <td class=" py-2  text-center ">
                                    {{(itemsDetail.quantity * itemsDetail.unitCost).toFixed(2)}}
                                </td>
                                <td class="px-2 py-2 border text-center">
                                    {{ itemsDetail.profit | number:'1.2-2' }}%
                                </td>
                                <td class="px-2 py-2 border text-center">
                                    {{(itemsDetail.unitCost / (1 - (itemsDetail.profit/100))).toFixed(2)}}
                                </td>
                                <td class="px-2 py-2 border text-center">
                                    {{((itemsDetail.unitCost / (1 - (itemsDetail.profit/100))) *
                                    itemsDetail.quantity).toFixed(2)}}
                                </td>
                                <td class="px-2 py-2 border text-center">
                                    {{itemsDetail.availability}}
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
            <div class="relative overflow-x-auto mt-6 w-full flex gap-6">
                <table class="w-1/2 text-sm text-left rtl:text-right text-black border bg-gray-50">
                    <tbody>
                        <tr class=" border-b ">
                            <td class="px-2 py-3  border text-center font-medium text-xl ">
                                Total Cost
                            </td>
                            <td class="px-2 py-2 border text-center uppercase text-xl">
                                {{calculateAllTotalCost().toFixed(2)}}
                            </td>
                        </tr>
                        <tr class=" border-b ">
                            <td class="px-2 py-3  border text-center font-medium text-xl ">
                                Total Selling price
                            </td>
                            <td class="px-2 py-2 border text-center uppercase text-xl">
                                {{calculateSellingPrice().toFixed(2)}}
                            </td>
                        </tr>
                        <tr class=" border-b ">
                            <td class="px-2 py-3  border text-center font-medium text-xl ">
                                Profit Margin
                            </td>
                            <td class="px-2 py-2 border text-center uppercase text-xl">
                                {{calculateProfitMargin().toFixed(2)}}
                            </td>
                        </tr>
                        <tr class=" border-b ">
                            <td class="px-2 py-3  border text-center font-medium text-xl ">
                                Profit margin with %
                            </td>
                            <td class="px-2 py-2 border text-center uppercase text-xl">
                                {{calculateTotalProfit().toFixed(2)}}%
                            </td>
                        </tr>
    
                    </tbody>
                </table>
                <table class="w-1/2  text-sm text-left rtl:text-right text-black border bg-gray-100">
                    <tbody>
                        <tr class=" border-b ">
                            <td class="px-2 py-3  border text-center font-medium text-xl ">
                                Subtotal
                            </td>
                            <td class="px-2 py-2 border text-center uppercase text-xl">
                                {{calculateSellingPrice() | numberFormatter}}
                            </td>
                        </tr>
                        <tr class=" border-b ">
                            <td class="px-2 py-3  border text-center font-medium text-xl ">
                                Discount
                            </td>
                            <td class="px-2 py-2 border text-center uppercase text-xl">
                                {{(data.preSale.estimations.totalDiscount) | numberFormatter}}
                            </td>
                        </tr>
                        <tr class=" border-b ">
                            <td class="px-2 py-3  border text-center font-medium text-xl ">
                                Total Amount
                            </td>
                            <td class="px-2 py-2 border text-center uppercase text-xl">
                                {{calculateDiscoutPrice() | numberFormatter }}
                            </td>
                        </tr>
    
                    </tbody>
                </table>
            </div>
            <div class="mt-4">
                <h3 class="font-medium uppercase ">Presale Note : </h3>
                <p>{{data.preSale.estimations.presaleNote}}</p>
            </div>
        </div>
    <!-- Toggle Revision Button -->
    <div class="mb-4">
      <button (click)="onRevision()"
        class="bg-violet-700 text-white px-4 py-2 rounded hover:bg-violet-700 focus:outline-none">
        Revise
      </button>
    </div>
    <!-- Revision Section -->
    <div *ngIf="showRevision" class="mb-4">
      <h3 class="text-lg font-medium text-gray-700 mb-2">Revision</h3>
      <textarea [(ngModel)]="revisionComment" (ngModelChange)="validateComments()"
        class="w-full border rounded p-2 bg-gray-50 text-gray-700" rows="4"  [ngClass]="{'border-red-500':showError}"
        placeholder="Provide your revision comments here..."></textarea>
      <div *ngIf="showError" class="text-red-500 mt-1 text-sm">
        Please provide your revision comments.
      </div>
    </div>
    <!-- Modal Footer -->
    <div *ngIf="showRevision" class="flex justify-end items-center border-t pt-3 mt-4">
      <button (click)="onRevision()"  type="button"
        class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600 focus:outline-none mr-2">Cancel</button>
      <button (click)="onSubmit()"
        class="bg-violet-700 text-white px-4 py-2 rounded hover:bg-violet-700 focus:outline-none">
        <ng-icon *ngIf="isSaving" class="spin" name="heroArrowPath"></ng-icon>
        Submit</button>
    </div>
  </div>
</div>