<div class="h-screen bg-white border border-[#e5e7eb]">
    <div class="flex flex-col">
        <div class="h-16 border-b border-[#e5e7eb]"></div>
        <div class="mt-5 py-4 px-10">
            <div class="flex">
                <i><ng-icon name="heroHome" class="text-lg"></ng-icon></i>
                <div class="w-60 flex justify-between ml-3">
                    <p class="">Home</p>
                    <i><ng-icon name="heroChevronDown"></ng-icon></i>
                </div>
            </div>
        </div>
        <div class="py-4 px-10">
            <div class="flex">
                <i>00</i>
                <div class="w-60 flex justify-between ml-3">
                    <p>Home</p>
                    <i>00</i>
                </div>
            </div>
        </div>
        
    </div>
</div>