<div class="bg-white m-6">
    <div class="  border-b p-3 px-9 flex justify-between">
        <h3 class="text-md font-medium">Create Quote</h3>

    </div>
    <form [formGroup]="quoteForm" (ngSubmit)="onQuoteSaveSubmit()">
        <div class="flex flex-col py-6 mx-auto w-full  text-gray-900 bg-white  px-9">

            <div class="w-full ">
                <div class="flex flex-wrap -mx-3 mb-5">
                    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-first-name">
                            Client
                        </label>
                        <ng-select [class.border-red-500]="f['client'].invalid && submit" class="form border"
                            (change)="onCustomerChange($event)" formControlName="client" bindLabel="companyName">
                            <ng-option *ngFor="let customer of customers$ | async"
                                [value]="customer._id">{{customer.companyName}}</ng-option>
                            <ng-template ng-footer-tmp>
                                <a routerLink="/customers/create"
                                    class="text-violet-700 cursor-pointer  flex justify-center items-center h-full w-full">
                                    + Create Customer
                                </a>
                            </ng-template>
                        </ng-select>
                    </div>
                    <div class="w-full md:w-1/3 px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-last-name">
                            Attention
                        </label>
                        <ng-select [class.border-red-500]="f['attention'].invalid && submit" class="form border"
                            formControlName="attention" bindLabel="courtesyTitle">
                            <ng-option *ngFor="let contact of contacts" [value]="contact._id">{{contact.courtesyTitle +
                                '.' + contact.firstName + ' ' + contact.lastName}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="w-full md:w-1/3 px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="quoteDate">
                            Quote Date
                        </label>
                        <input appNoLeadingSpace formControlName="date"
                            [class.border-red-500]="f['date'].invalid && submit"
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            id="quoteDate" type="date" placeholder="Email">
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 ">

                    <div class="w-full md:w-2/4 px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="subject">
                            subject
                        </label>
                        <input appNoLeadingSpace formControlName="subject"
                            [class.border-red-500]="f['subject'].invalid && submit"
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            id="subject" type="text" placeholder="Subject">
                    </div>
                    <div class="w-full md:w-1/4 px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="department">
                            Department
                        </label>
                        <ng-select [class.border-red-500]="f['department'].invalid && submit" bindLabel="departmentName"
                            id="department" class="form border" placeholder="Department" appendTo="body"
                            formControlName="department">
                            <ng-option *ngFor="let department of departments"
                                [value]="department._id">{{department.departmentName}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-first-name">
                            Currency
                        </label>
                        <ng-select [class.border-red-500]="f['currency'].invalid && submit" class="form border"
                            formControlName="currency" bindLabel="">
                            <ng-option value="QAR">QAR</ng-option>
                            <ng-option value="USD">USD</ng-option>
                        </ng-select>
                    </div>

                </div>

            </div>
            <div class="relative overflow-x-auto mt-6">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 border">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th scope="col" resizable class=" w-96 border-l border-r border-t hover:border-r-slate-950"
                                key="itemDetail">
                                <div class="px-6 py-3">Item Details</div>

                            </th>
                            <th scope="col" resizable key="qty"
                                class=" border-l border-r border-t hover:border-r-slate-950  text-center min-w-[66px]">
                                <div class="px-2 py-3">QTY</div>
                            </th>
                            <th scope="col" resizable key="unitCost"
                                class="border-l border-r border-t hover:border-r-slate-950  text-center">
                                <div class="px-6 py-3">Unit Cost</div>
                            </th>
                            <th scope="col" resizable key="totalCost"
                                class="border-l border-r border-t hover:border-r-slate-950  text-center">
                                <div class="px-6 py-3">Total Cost</div>
                            </th>
                            <th scope="col" resizable key="profit"
                                class="border-l border-r border-t hover:border-r-slate-950  text-center">
                                <div class="px-6 py-3">Profit</div>
                            </th>
                            <th scope="col" resizable key="unitPrice"
                                class="border-l border-r border-t hover:border-r-slate-950  text-center">
                                <div class="px-6 py-3">Unit Price</div>
                            </th>
                            <th scope="col" resizable key="totalPrice"
                                class="border-l border-r border-t hover:border-r-slate-950  text-center">
                                <div class="px-6 py-3">Total Price</div>
                            </th>
                            <th scope="col" resizable key="avbl"
                                class="border-l border-r border-t hover:border-r-slate-950  text-center min-w-[90px]">
                                <div class="px-2 py-3">AVBL.</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody formArrayName="items">
                        <ng-container *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
                            <tr>
                                <td colspan="9" class="border px-6 py-3 bg-gray-50 ">
                                    <div class="flex justify-center items-center">
                                        <label for="">ITEM NAME : </label>
                                        <input formControlName="itemName" type="text"
                                            [class.border-red-500]="quoteForm.get('items.' + i + '.itemName')?.invalid && submit"
                                            class="appearance-none block bg-white text-gray-700 border border-gray-200 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 ml-2 w-3/6">
                                        <button type="button"
                                            class="ml-2 bg-violet-700 hover:bg-violet-600 text-white font-medium py-2 px-4 rounded text-sm"
                                            (click)="addItemDetail(i)">
                                            + Add Item Detail
                                        </button>
                                        <button type="button" *ngIf="i!==0"
                                            class="ml-2 bg-red-500 hover:bg-red-600 text-white font-medium py-2 px-4 rounded text-sm"
                                            (click)="onRemoveItem(i)">
                                            × Remove Item
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <ng-container formArrayName="itemDetails">
                                <ng-container *ngFor="let detail of getItemDetailsControls(i).controls; let j=index">
                                    <tr [formGroupName]="j">
                                        <td [class.border-red-500]="getItemDetailsControls(i).controls[j].get('detail')?.invalid && submit"
                                            class="border px-6 py-3">
                                            <textarea appNoLeadingSpace formControlName="detail"
                                                class="w-full font-normal appearance-none block rounded py-3 px-5 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                                id="grid-last-name" type="text" placeholder="Type / copy the item here."
                                                #inputTextArea (select)="checkTextSelection(inputTextArea)"></textarea>
                                            <div class="h-5 w-full ">
                                                <button *ngIf="isTextSelected" type="button" [@fadeInOut]
                                                    (click)="applyFormatting(i, j, inputTextArea)"
                                                    class="text-bold hover:bg-gray-300 rounded-full px-2 text-black text-lg"
                                                    matTooltip="Bold" matTooltipPosition="above">B</button>

                                                <button type="button" *ngIf="isTextSelected"
                                                    (click)="applyHighlighter(i, j, inputTextArea)" [@fadeInOut]
                                                    class="text-bold hover:bg-gray-300 rounded-full px-2 text-black text-lg"
                                                    matTooltip="Highlight" matTooltipPosition="above">H</button>
                                            </div>
                                        </td>


                                        <td [class.border-red-500]="getItemDetailsControls(i).controls[j].get('quantity')?.invalid && submit"
                                            class="border px-2 py-2 text-center">
                                            <input appNoLeadingSpace formControlName="quantity"
                                                class="font-normal appearance-none block w-full text-center rounded py-5 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                                id="grid-last-name" type="number" placeholder="00">
                                        </td>
                                        <td [class.border-red-500]="getItemDetailsControls(i).controls[j].get('unitCost')?.invalid && submit"
                                            class="border px-6 py-3">
                                            <input appNoLeadingSpace formControlName="unitCost"
                                                class="font-normal appearance-none block w-full text-center rounded py-5 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                                id="grid-last-name" type="number" placeholder="00.00">
                                        </td>
                                        <td class="px-6 py-3 border-l border-b border-t text-center">
                                            <p>{{ calculateTotalCost(i,j) }}</p>
                                        </td>
                                        <td [class.border-red-500]="getItemDetailsControls(i).controls[j].get('profit')?.invalid && submit"
                                            class="border py-2 px-6 text-center">
                                            <div class="flex justify-center items-center">
                                                <input appNoLeadingSpace formControlName="profit"
                                                    class="font-normal appearance-none block w-6 text-right rounded py-5 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                                    id="grid-last-name" type="number" placeholder="00">
                                                <p class="ml-0.5 mb-0.5">%</p>
                                            </div>
                                        </td>
                                        <td class="px-6 py-3 border-l border-b border-t text-center">
                                            <p>{{ calculateUnitPrice(i,j).toFixed(2) }}</p>
                                        </td>
                                        <td class="px-6 py-3 border-l border-b border-t text-center">
                                            <p>{{ calculateTotalPrice(i,j).toFixed(2) }}</p>
                                        </td>
                                        <td [class.border-red-500]="getItemDetailsControls(i).controls[j].get('availability')?.invalid && submit"
                                            class="border px-2 py-2 text-center">
                                            <input appNoLeadingSpace formControlName="availability"
                                                class="font-normal appearance-none block w-full text-center rounded py-5 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                                id="grid-last-name" placeholder="00">
                                        </td>
                                        <td class="px-2 py-2 border text-center" *ngIf="j!==0">
                                            <ng-icon name="heroXMark"
                                                class="text-md p-0 m-0 cursor-pointer text-red-600 mx-2"
                                                (click)="onRemoveItemDetail(i,j)"></ng-icon>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>

                <div class="w-full flex justify-start items-center mt-3 gap-3">
                    <button type="button"
                        class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2 px-4 rounded text-sm"
                        (click)="addItemFormGroup()">
                        + Add Item
                    </button>

                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mt-6">
                <div class="w-full md:w-2/5 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="customerNote">
                        Customer Notes
                    </label>
                    <ng-select class="form border"  (change)="onCustomerNote($event,'customerNotes')" 
                        placeholder="Default Customer Note" appendTo="body" >
                        <ng-option *ngFor="let note of customerNotes" [value]="note" >{{note.note}}</ng-option>
                    </ng-select>
                    <textarea appNoLeadingSpace formControlName="customerNote"
                        [class.border-red-500]="f['customerNote'].invalid && submit" rows="6"
                        class="mt-2 appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="customerNote" placeholder="Customer Note"></textarea>

                </div>
                <div class="w-full md:w-3/5 px-3" >
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="termsAndCondition">
                        Terms and Conditions
                    </label>
                    <ng-select class="form border" (change)="onCustomerNote($event,'termsAndConditions')"
                        placeholder="Default Terms & Condition" appendTo="body" >
                        <ng-option *ngFor="let terms of termsAndConditions" [value]="terms">{{terms.note}}</ng-option>
                    </ng-select>
                    <textarea appNoLeadingSpace 
                        [class.border-red-500]="f['termsAndCondition'].invalid && submit" formControlName="termsAndCondition" rows="6"
                        class="mt-2 appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="termsAndCondition" placeholder="Terms and Conditions"></textarea>
                </div>

            </div>

            <div class="relative overflow-x-auto mt-6 w-full flex gap-6">
                <table class="w-1/2 text-sm text-left rtl:text-right text-black border bg-gray-50">
                    <tbody>
                        <tr class=" border-b ">
                            <td class="px-2 py-3  border text-center font-medium text-xl ">
                                Total Cost
                            </td>
                            <td class="px-2 py-2 border text-center uppercase text-xl font-medium">
                                {{calculateAllTotalCost().toFixed(2)}}
                            </td>
                        </tr>
                        <tr class=" border-b ">
                            <td class="px-2 py-3  border text-center font-medium text-xl ">
                                Total Selling price
                            </td>
                            <td class="px-2 py-2 border text-center uppercase text-xl font-medium">
                                {{calculateSellingPrice().toFixed(2)}}
                            </td>
                        </tr>
                        <tr class=" border-b ">
                            <td class="px-2 py-3  border text-center font-medium text-xl ">
                                Profit margin with %
                            </td>
                            <td class="px-2 py-2 border text-center uppercase text-xl font-medium">
                                {{calculateTotalProfit().toFixed(2)}}%
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table class="w-1/2  text-sm text-left rtl:text-right text-black border bg-gray-100">
                    <tbody>
                        <tr class=" border-b ">
                            <td class="px-2 py-3  border text-center font-medium text-xl ">
                                Subtotal
                            </td>
                            <td class="px-2 py-2 border text-center uppercase text-xl font-medium">
                                {{calculateSellingPrice().toFixed(2)}}
                            </td>
                        </tr>
                        <tr class=" border-b ">
                            <td class="px-2 py-3  border text-center font-medium text-xl ">
                                Discount
                            </td>
                            <td class="px-2 py-2 border text-center uppercase text-xl">
                                <input [class.border-red-500]="f['totalDiscount'].invalid && submit" type="number"
                                    appNegativeNumber appNoLeadingSpace name="" id=""
                                    class="text-center border outline-none px-2 py-2 w-4/5"
                                    formControlName="totalDiscount">
                            </td>
                        </tr>
                        <tr class=" border-b ">
                            <td class="px-2 py-3  border text-center font-medium text-xl ">
                                Total Amount
                            </td>
                            <td class="px-2 py-2 border text-center uppercase text-xl font-medium">
                                {{calculateDiscoutPrice().toFixed(2)}}
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>


        <div class=" border-t py-6 px-9 flex justify-between gap-2 ">
            <div class="flex w-80">
                <button type="button"
                    class="bg-orange-500 hover:bg-orange-600 text-white font-medium py-2 px-4 rounded text-sm  mr-3 w-full flex justify-center items-center gap-2"
                    (click)="onPreviewPdf()">
                    <ng-icon *ngIf="isPreviewing" class="spin" name="heroArrowPath"></ng-icon>
                    Preview
                </button>
                <button type="button"
                    class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2 px-4 rounded text-sm w-full flex justify-center items-center gap-2 whitespace-nowrap"
                    (click)="onDownloadPdf()">
                    <ng-icon *ngIf="isDownloading" class="spin" name="heroArrowPath"></ng-icon>
                    Download (PDF)
                </button>
            </div>

            <div class="flex w-40">
                <button type="button"
                    class=" hover:bg-gray-100 text-black font-medium py-2 px-4 rounded text-sm mr-3  border border-gray-300"
                    routerLink="/quotations">
                    Cancel
                </button>
                <button type="submit" [disabled]="isSaving"
                    class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2 px-4 rounded text-sm w-full flex justify-center items-center gap-2">
                    <ng-icon *ngIf="isSaving" class="spin" name="heroArrowPath"></ng-icon>
                    Save
                </button>
            </div>
        </div>
    </form>
</div>