<div class="bg-white m-6">
  <div class="  border-b p-3 px-9 flex justify-between">
    <h3 class="text-md font-medium">Create Customer</h3>
  </div>
  <div class="flex flex-col py-6 mx-auto w-full  text-gray-900 bg-white  px-9">

    <div class="w-full ">
      <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col p-6 mx-auto   text-gray-900 bg-white overflow-y-auto">

          <div class="w-full">
            <!-- Department selection -->
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2" for="grid-department">
                  Customer Type
                </label>
                <div class="md:flex w-full">
                  <div *ngIf="!departments.length" class="h-4 bg-gray-100 animate-pulse rounded-full w-full mt-2"></div>

                  <div class="md:w-1/5" *ngFor="let department of departments">
                    <input type="radio" formControlName="department" [value]="department._id" [id]="department._id">
                    <label [for]="department._id" class="pl-2">{{ department.departmentName }}</label>
                  </div>


                </div>
                <div class="mb-2 text-red-700 text-sm" *ngIf="f['department'].invalid && isSubmitted">
                  Select any department.
                </div>
              </div>

            </div>

            <!-- Primary Contact -->
            <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2 w-full"
              for="grid-primary-contact">
              PRIMARY CONTACT
            </label>
            <div formArrayName="contactDetails">
              <div class="md:flex -mx-3 mb-3 items-center"
                *ngFor="let contact of contactDetails.controls; let i = index" [formGroupName]="i">
                <div class="flex flex-col">
                  <div class="px-3">
                    <div class="flex w-full gap-3 mb-3 md:mb-0">
                      <ng-icon *ngIf="i!==0" name="heroXMark" class="text-md p-0 m-0 cursor-pointer mt-1 text-red-600"
                        (click)="onRemoveContact(i)"></ng-icon>
                      <div class="flex">
                        <input type="radio" formControlName="courtesyTitle" value="Mr" [id]="'Mr'+i">
                        <label class="pl-2" [for]="'Mr'+i">MR</label>
                      </div>
                      <div class="flex">
                        <input type="radio" formControlName="courtesyTitle" value="Mrs" [id]="'Mrs'+i">
                        <label class="pl-2" [for]="'Mrs'+i">MRS</label>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="px-3 w-full">
                  <label for="" class="uppercase text-xs mb-4 font-semibold text-gray-600">First Name :</label>
                  <input formControlName="firstName"
                    [ngClass]="{'border-red-500':contact.get('firstName')?.hasError('required') && (contact.get('firstName')?.touched || isSubmitted)}"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    type="text" placeholder="First Name">
                </div>
                <div class="px-3 w-full">
                  <label for="" class="uppercase text-xs mb-4 font-semibold text-gray-600">Last Name :</label>
                  <input formControlName="lastName"
                    [ngClass]="{'border-red-500':contact.get('lastName')?.hasError('required') && (contact.get('lastName')?.touched || isSubmitted)}"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    type="text" placeholder="Last Name">
                </div>
                <div class="px-3 w-full">
                  <label for="" class="uppercase text-xs mb-4 font-semibold text-gray-600">Email :</label>
                  <input formControlName="email"
                    [ngClass]="{'border-red-500':(contact.get('email')?.hasError('required') || contact.get('email')?.hasError('email')) && (contact.get('email')?.touched || isSubmitted)}"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    type="email" placeholder="Email">
                </div>
                <div class="px-3 w-full">
                  <label for="" class="uppercase text-xs mb-4 font-semibold text-gray-600">Phone No. :</label>
                  <input formControlName="phoneNo"
                    [ngClass]="{'border-red-500':contact.get('phoneNo')?.hasError('required') && (contact.get('phoneNo')?.touched || isSubmitted)}"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    type="number" placeholder="Phone Number">
                </div>


              </div>
              <div class="mb-2 text-red-700 text-sm" *ngIf="hasContactDetailsErrors()">
                Please fill all contact details and make sure email is entered correctly
              </div>
            </div>

            <!-- Button to add contact -->
            <button class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-1 px-4 rounded text-sm mb-6"
              type="button" (click)="addContactFormGroup()">
              + Add Contact
            </button>

            <!-- Additional fields -->
            <div class="flex flex-wrap -mx-3 mb-4">
              <div class="w-full px-3 mb-3 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                  for="grid-company-name">
                  Company Name
                </label>
                <input formControlName="companyName" [class.border-red-500]="f['companyName'].invalid && isSubmitted"
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  type="text" placeholder="Company Name">

              </div>
            </div>


            <div class="flex flex-wrap -mx-3 mb-4">
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                  for="grid-customer-email">
                  Customer Email Id
                </label>
                <input formControlName="customerEmailId"
                  [class.border-red-500]="f['customerEmailId'].invalid && isSubmitted"
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  type="text" placeholder="Customer Email Id">
                <div class="text-red-700 text-sm mt-1"
                  *ngIf="customerForm.get('customerEmailId')?.hasError('email')  && (customerForm.get('customerEmailId')?.touched || isSubmitted)">
                  Invalid email format.
                </div>
              </div>

              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2" for="grid-contact-no">
                  Contact No
                </label>
                <input formControlName="contactNo" [class.border-red-500]="f['contactNo'].invalid && isSubmitted"
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  type="number" placeholder="Contact No">

              </div>
            </div>

          </div>

        </div>


        <div class="  border border-white p-3 px-6 flex justify-end ">
          <button
            class=" hover:bg-gray-100 text-black font-medium py-2 px-4 rounded text-sm mr-3  border border-gray-300"
            routerLink="/customers">
            Cancel
          </button>
          <button type="submit"
            class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2 px-4 rounded text-sm  flex justify-center items-center gap-2 disabled:bg-violet-400 disabled:cursor-not-allowed">
            <ng-icon *ngIf="isSaving" class="spin" name="heroArrowPath"></ng-icon>
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</div>