<!-- <div class="  border border-white border-b-gray-300 p-3 px-6 flex justify-between ">
  <h3 class="text-md font-medium">Create Customer</h3>
  <button class="bg-gray-200 rounded-lg p-1 text-center flex items-center justify-center" (click)="onClose()">
    <ng-icon name="heroXMark" class="text-md p-0 m-0"></ng-icon>
  </button>
</div>

<div
  class="flex flex-col p-6 mx-auto max-w-3xl  text-gray-900 bg-white rounded-lg  shadow px-9 max-h-[70vh] overflow-y-auto">

  <div class="w-full max-w-3xl">
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-full px-3 mb-6 md:mb-0 ">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Customer Type
        </label>
        <div class="md:flex w-full ">
          <div class="md:w-1/4">
            <input appNoLeadingSpace type="radio" name="customerType" id="ict">
            <label for="ict" class="pl-2">ICT</label>
          </div>
          <div class="md:w-2/4">
            <input appNoLeadingSpace type="radio" name="customerType" id="elv">
            <label for="elv" class="pl-2">ELV / Security System</label>
          </div>
          <div class="md:w-1/4">
            <input appNoLeadingSpace type="radio" name="customerType" id="distributions">
            <label for="distributions" class="pl-2">Distributions</label>
          </div>
        </div>
      </div>
    </div>
    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 w-full " for="grid-first-name">
      PRIMARY CONTACT
    </label>
    <div class="md:flex  -mx-3 mb-3 items-center">
      <div class=" px-3 mb-3 md:mb-0 ">
        <div class="flex w-full gap-3">
          <div class="flex">
            <input appNoLeadingSpace type="radio" name="mt/ms" id="mr">
            <label for="mr" class="pl-2">MR</label>
          </div>
          <div class="flex">
            <input appNoLeadingSpace type="radio" name="mt/ms" id="mrs">
            <label for="mrs" class="pl-2">MRS</label>
          </div>
        </div>
      </div>
      <div class=" px-3  w-full ">
        <input appNoLeadingSpace
          class="mb-3 md:mb-0 appearance-none block bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-2  leading-tight focus:outline-none focus:bg-white focus:border-gray-500 w-full"
          id="grid-password" type="text" placeholder="First Name">
      </div>
      <div class=" px-3  w-full ">
        <input appNoLeadingSpace
          class="appearance-none block  bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-2  leading-tight focus:outline-none focus:bg-white focus:border-gray-500 w-full"
          id="grid-password" type="text" placeholder="Last Name">
      </div>
    </div>
    <div formArrayName="contactDetails">
      <div class="md:flex  -mx-3 mb-3 items-center" *ngFor="let skill of contactDetails.controls; let i = index">
        <div class=" px-3">

          <div class="flex w-full gap-3 mb-3 md:mb-0">
            <ng-icon name="heroXMark" class="text-md p-0 m-0 cursor-pointer mt-1 text-red-600"
              (click)="onRemoveContact(i)"></ng-icon>
            <div class="flex">
              <input appNoLeadingSpace type="radio" name="mt/ms" id="mr">
              <label for="mr" class="pl-2">MR</label>
            </div>
            <div class="flex">
              <input appNoLeadingSpace type="radio" name="mt/ms" id="mrs">
              <label for="mrs" class="pl-2">MRS</label>
            </div>
          </div>

        </div>
        <div class=" px-3  w-full ">
          <input appNoLeadingSpace
            class=" w-full mb-3 md:mb-0 appearance-none block bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-2  leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-password" type="text" placeholder="First Name">

        </div>
        <div class=" px-3  w-full ">
          <input appNoLeadingSpace
            class=" w-full mb-3 md:mb-0 appearance-none block  bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-2  leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-password" type="text" placeholder="Last Name">

        </div>

      </div>

    </div>
    <button class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-1 px-4 rounded text-sm mb-6"
      (click)="onAddContact()">
      + Add Name
    </button>
    <div class="flex flex-wrap -mx-3 mb-3">
      <div class="w-full  px-3 mb-3 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
          Company Name
        </label>
        <input appNoLeadingSpace
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-city" type="text" placeholder="Company Name">
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-2">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
          Customer Email Id
        </label>
        <input appNoLeadingSpace
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-city" type="text" placeholder="Customer Email Id">
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
          Contact No
        </label>
        <input 
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-city" type="number" placeholder="Contact No">
      </div>
    </div>
  </div>
</div>


<div class="  border border-white border-t-gray-300 p-3 px-6 flex justify-end gap-2">
  <button (click)="onClose()" class="bg-gray-300 hover:bg-gray-400 text-black font-medium py-2 px-4 rounded text-sm">
    Cancel
  </button>
  <button class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2 px-4 rounded text-sm">
    Create
  </button>
</div> -->


<div class="bg-white m-6 rounded-2xl">
  <div class="  border-b p-3 px-9 flex justify-between">
    <h3 class="text-md font-medium">Create Customer</h3>
  </div>
  <div class="flex flex-col py-6 mx-auto w-full  text-gray-900 bg-white  px-9">

    <div class="w-full ">
      <div class="flex flex-col p-6 mx-auto   text-gray-900 bg-white overflow-y-auto">

        <div class="w-full ">
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-full px-3 mb-6 md:mb-0 ">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                Customer Type
              </label>
              <div class="md:flex w-full ">
                <div class="md:w-1/4">
                  <input appNoLeadingSpace type="radio" name="customerType" id="ict">
                  <label for="ict" class="pl-2">ICT</label>
                </div>
                <div class="md:w-1/3">
                  <input appNoLeadingSpace type="radio" name="customerType" id="elv">
                  <label for="elv" class="pl-2">ELV / Security System</label>
                </div>
                <div class="md:w-1/4">
                  <input appNoLeadingSpace type="radio" name="customerType" id="distributions">
                  <label for="distributions" class="pl-2">Distributions</label>
                </div>
              </div>
            </div>
          </div>
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 w-full "
            for="grid-first-name">
            PRIMARY CONTACT
          </label>
          <div class="md:flex  -mx-3 mb-3 items-center">
            <div class=" px-3 mb-3 md:mb-0 ">
              <div class="flex w-full gap-3">
                <div class="flex">
                  <input appNoLeadingSpace type="radio" name="mt/ms" id="mr">
                  <label for="mr" class="pl-2">MR</label>
                </div>
                <div class="flex">
                  <input appNoLeadingSpace type="radio" name="mt/ms" id="mrs">
                  <label for="mrs" class="pl-2">MRS</label>
                </div>
              </div>
            </div>
            <div class=" px-3  w-full ">
              <input appNoLeadingSpace
                class="mb-3 md:mb-0 appearance-none block bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-2  leading-tight focus:outline-none focus:bg-white focus:border-gray-500 w-full"
                id="grid-password" type="text" placeholder="First Name">
            </div>
            <div class=" px-3  w-full ">
              <input appNoLeadingSpace
                class="appearance-none block  bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-2  leading-tight focus:outline-none focus:bg-white focus:border-gray-500 w-full"
                id="grid-password" type="text" placeholder="Last Name">
            </div>
            <div class=" px-3  w-full ">
              <input appNoLeadingSpace
                class="appearance-none block  bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-2  leading-tight focus:outline-none focus:bg-white focus:border-gray-500 w-full"
                id="grid-password" type="text" placeholder="Email">
            </div>
          </div>
          <div formArrayName="contactDetails">
            <div class="md:flex  -mx-3 mb-3 items-center" *ngFor="let skill of contactDetails.controls; let i = index">
              <div class=" px-3">

                <div class="flex w-full gap-3 mb-3 md:mb-0">
                  <ng-icon name="heroXMark" class="text-md p-0 m-0 cursor-pointer mt-1 text-red-600"
                    (click)="onRemoveContact(i)"></ng-icon>
                  <div class="flex">
                    <input appNoLeadingSpace type="radio" name="mt/ms" id="mr">
                    <label for="mr" class="pl-2">MR</label>
                  </div>
                  <div class="flex">
                    <input appNoLeadingSpace type="radio" name="mt/ms" id="mrs">
                    <label for="mrs" class="pl-2">MRS</label>
                  </div>
                </div>

              </div>
              <div class=" px-3  w-full ">
                <input appNoLeadingSpace
                  class=" w-full mb-3 md:mb-0 appearance-none block bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-2  leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="grid-password" type="text" placeholder="First Name">

              </div>
              <div class=" px-3  w-full ">
                <input appNoLeadingSpace
                  class=" w-full mb-3 md:mb-0 appearance-none block  bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-2  leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="grid-password" type="text" placeholder="Last Name">

              </div>
              <div class=" px-3  w-full ">
                <input appNoLeadingSpace
                  class=" w-full mb-3 md:mb-0 appearance-none block  bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-2  leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="grid-password" type="text" placeholder="Email">

              </div>


            </div>

          </div>
          <button class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-1 px-4 rounded text-sm mb-6"
            (click)="onAddContact()">
            + Add Name
          </button>
          <div class="flex flex-wrap -mx-3 mb-3">
            <div class="w-full  px-3 mb-3 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                Company Name
              </label>
              <input appNoLeadingSpace
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-city" type="text" placeholder="Company Name">
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-2">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                Customer Email Id
              </label>
              <input appNoLeadingSpace
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-city" type="text" placeholder="Customer Email Id">
            </div>
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                Contact No
              </label>
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-city" type="number" placeholder="Contact No">
            </div>
          </div>
        </div>
      </div>


      <div class="  border border-white p-3 px-6 flex justify-end ">

        <button class="bg-violet-700 hover:bg-violet-600 text-white font-medium py-2 px-4  rounded text-sm">
          Create
        </button>
      </div>
    </div>
  </div>
</div> 