<div class="bg-opacity-50 flex items-center justify-center w-full">
    <div class="bg-white rounded-lg  p-6">
        <div class="mb-4">
            <h2 class="text-lg font-bold text-red-600" *ngIf="data.reject">Reject Deal</h2>
            <h2 class="text-lg font-bold text-green-600" *ngIf="!data.reject">Approve Deal</h2>
            <p *ngIf="data.reject" class="text-sm text-gray-600">Are you sure you want to reject this deal? This action cannot be undone.</p>
            <p *ngIf="!data.reject" class="text-sm text-gray-600">Are you sure you want to approve this deal? This action can be undone.</p>
        </div>
        <form [formGroup]="rejectForm" (ngSubmit)="onSubmit()">
            <div class="mb-4">
                <label for="rejectionComment" class="block text-sm font-medium text-gray-700">Comment</label>
                <textarea id="rejectionComment" formControlName="comment" rows="4" class="mt-1 block p-2 border w-full rounded-md border-gray-300 shadow-sm outline-none sm:text-sm" placeholder="Enter your comment..."></textarea>
                <div *ngIf="rejectForm.controls['comment'].invalid && (rejectForm.controls['comment'].dirty || rejectForm.controls['comment'].touched) && data.reject" class="text-red-600 text-sm mt-1">
                    Comment is required.
                </div>
            </div>
            <div class="flex justify-end space-x-2">
                <button type="button" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md" (click)="onCancel()">Cancel</button>
                <button type="submit" class="px-4 py-2 bg-red-600 text-white rounded-md"  *ngIf="data.reject" [disabled]="rejectForm.invalid">Reject Deal</button>
                <button type="submit" class="px-4 py-2 bg-green-600 text-white rounded-md"  *ngIf="!data.reject">Approve Deal</button>
            </div>
        </form>
    </div>
</div>
